[2017-01-29 17:29] timorris opened #1 "MIssing function"
I see you have "A" for insert at end of line,  but you are missing "I" (capital i) for Insert at beginning of line.

[2017-01-30 10:26] nosami commented on #1
Looks good to me. Thanks!

[2017-02-03 22:24] priort opened #2 "Some commands with shift not working"
Hi there, thanks for creating this plugin.
I am just have a problem using xamarin studio 6.5 on mac
When I try to move up and down in blocks with
shift {
shift }

it doesn't work,
or if I select an opening with v and try to navigate to the closing paren with
shift % )
it doesn't work.

or another example, if I am within parens and try to select everything within the parens,
if I use the combinatio

[2017-02-04 07:30] nosami commented on #2
I haven't got around to implementing `{` and `}` yet or `v%(`

`vi)` should work. Looks like a regression.

Leave it with me.

[2017-02-04 13:01] priort commented on #2
Hi Jason,
Thanks a million. I really like the plugin by the way. It definitely enhances my experience with Xamarin studio.

Tom

[2017-02-05 14:22] #2 closed

[2017-02-05 14:23] nosami commented on #2
I didn't realise that `%` worked without being on a brace character to begin with. Learnt something new :)

[2017-02-05 20:09] priort commented on #2
Thanks for the update. Just wondering how can I build the mpack from source so that I can add from file in Xamarin studio?

[2017-02-05 20:11] nosami commented on #2
There is a bug with the addin build server - [no new releases](http://addins.monodevelop.com/) since 24th Jan. It should have automatically appeared in the feed.

I can't remember how to create mpack files off the top of my head, but if you give me a few minutes, I'll create one and attach it to the Releases tab on here.

[2017-02-05 20:16] nosami commented on #2
Take a look here https://github.com/nosami/XSVim/releases/tag/0.13 . Please let me know if it works for you!

[2017-02-05 21:28] priort commented on #2
That worked! My xamarin studio closed just at the end of the installation
but, once I started up Xamarin studio, it was installed.

The new additions are great. Its lovely having the { and } working to jump
up and down through my code. Hardly ever need to touch the mouse now :)
and vi ) is so convenient too!

Thanks so much
Tom

On Sun, 5 Feb 2017 at 20:16 Jason Imison <notifications@github.com> w

[2017-02-05 21:29] nosami commented on #2
Great!

[2017-03-15 23:53] dlprows opened #3 "df and dt commands delete one too few characters"
If I have the following code

[code]
with my cursor at the beginning of the first line and I do `dfv` it should delete "public v" and if i do `dtv` it should delete "public " (including the space after public) but instead it deletes "public " (with a space after public) and "public" (no space after public) respectively

[2017-03-16 01:15] #3 closed

[2017-03-16 01:15] nosami commented on #3
Thanks, should be fixed now

[2017-03-16 01:38] nosami commented on #3
There seems to be some issues with the build server right now. You can try the mpack file from here https://github.com/nosami/XSVim/releases/tag/0.13.1 and install manually

[2017-03-17 15:44] kamilgryniewicz opened #4 "Release for VS 7.0"
Could you release a version for Visual Studio 7.0 please?

I'm getting this:
![screen shot 2017-03-17 at 15 37 48](https://cloud.githubusercontent.com/assets/2143223/24050917/504436d2-0b28-11e7-9511-f05ddae55e5f.png)
on the Preview 5 (7.0 build 1659) Visual Studio for Mac

Thanks!

[2017-03-17 16:39] nosami commented on #4
Hi, you can try and install this version manually for now - https://github.com/nosami/XSVim/releases/download/untagged-debb1fa3660b34c946c5/XSVim.XSVim_0.13.mpack

Use Visual Studio -> Extensions -> Install from file

[2017-03-17 19:15] kamilgryniewicz commented on #4
Unfortunately 404 on this link.

[2017-03-19 03:01] vignesh-sankaran commented on #4
Unfortunately I still get the same error while trying to install it manually too

[2017-03-19 11:36] nosami commented on #4
Sorry about that. Try this link https://github.com/nosami/XSVim/releases/download/0.13.1.1/XSVim.XSVim_0.13.mpack

[2017-03-19 17:54] ashokgelal commented on #4
Compatibility issue is resolved with the latest version but now it comes with this:

![screenshot 2017-03-19 11 50 49](https://cloud.githubusercontent.com/assets/401055/24083325/8dd99cda-0c9a-11e7-8df3-5a6682c6678d.png)

[2017-03-20 04:05] vignesh-sankaran commented on #4
Hmm it installs with the above dialog box, and it seems to be running but I don't have the Vim keyboard shortcuts in the code window still

[2017-03-29 19:38] kibiz0r opened #5 "Support "s" operator"
I find myself really missing this operator:

http://wwwcdf.pd.infn.it/vim/change.html#delete-insert

[2017-03-29 19:44] kibiz0r opened #6 "Fix "^" motion"
Right now, ^ behaves the same way as 0, which is not the standard vim behavior. My muscle memory would be very thankful if it worked like this:

http://wwwcdf.pd.infn.it/vim/motion.html#left-right-motions

[2017-03-29 22:14] nosami commented on #6
Ah, you are right. I always use _ for this. Will fix!

[2017-03-29 22:21] #6 closed

[2017-03-29 22:48] #5 closed

[2017-04-06 15:11] richkzad opened #7 ""Escape" should not move cursor left if already in normal mode."
When going from insert mode to normal mode, the cursor has to move left. However, this Move command also runs if you're already in normal mode, which means if you're a compulsive Escaper it will keep moving your cursor left, which is unexpected.

I think usually vim will even cause a system sound if you hit Escape while in Normal Mode, to let you know you've escaped out of everything you possibly

[2017-04-06 15:13] richkzad opened #8 ""$" should not bring you to the last character in the line, not one past it"
Say you're in the line:

`abc;`

If you hit `$`in normal mode, the block cursor should land on `;`, not the space after `;`.

[2017-04-06 15:20] richkzad opened #9 "W, B, E support"
The uppercase `W`, `B`, `E` commands currently do nothing (or work unexpectedly.)

They should be like `w`, `b` and `e` except treating words as delimited by whitespace, not other characters like `(` and `.` (so, they tend to move further in code.)

See `word` vs `WORD` here: http://vimdoc.sourceforge.net/htmldoc/motion.html#WORD

[2017-04-06 16:10] richkzad opened #10 "X should delete the character before the cursor"
`x` deletes the character that the cursor is over.
`X` should delete the character to the left of the cursor.

See `["x]X` here: http://vimdoc.sourceforge.net/htmldoc/change.html#x

[2017-04-06 20:13] sowderca commented on #4
It appears that this may have been resolved with build 2715

[2017-04-14 17:58] tylerhartwig opened #11 ""s" has no change in XS"
Pressing "s" in normal mode in Xamarin Studio does not delete the current character and move to insert mode. I did a quick check through the source code and saw that it should do this.

Xamarin Studio 6.3 (build 863)
Vim (XSVim that is) Version 0.13

Let me know if there is more helpful information I can provide, I'm just glad were getting a well-functioning Vim on Xamarin Studio/VS4Mac

[2017-04-14 18:01] tylerhartwig commented on #11
After checking again, I assume the support hasn't been updated to the XS Gallery. Sorry for the new issue.

[2017-04-14 18:01] #11 closed

[2017-04-16 20:43] nosami commented on #11
Yeah... there have been problems with the XS addin build server. I'll probably add my own feed some time soon and publish there.

[2017-04-16 20:59] #7 closed

[2017-04-16 21:00] nosami commented on #7
Thanks for reporting. I've been a little busy with work recently - sorry for the delay.

[2017-04-16 23:28] #10 closed

[2017-04-16 23:53] nosami commented on #11
You should be able to install 0.14 from here https://github.com/nosami/XSVim/releases/download/0.14/XSVim.XSVim_0.14.mpack

[2017-04-17 00:01] tylerhartwig commented on #11
Awesome, thanks, I assume eventually XS will get updates too?

[2017-04-17 00:06] nosami commented on #11
It should automatically end up in the XS feed in theory whenever I push to master, but in practice, the addin build server has been very temperamental... no new addins since 04/15 http://addins.monodevelop.com/

When I have some free time, I'll add my own feed that you can add to XS to get automatic updates from.

[2017-04-17 00:08] tylerhartwig commented on #11
Gotcha, I guess the real one to worry about is VS for Mac, thanks for the great plugin though, been needing a real Vim plugin for XS for a while now.

[2017-04-21 13:27] richkzad opened #12 "Save character position when moving up/down"
When using `j` to move down a file, the cursor should always aim to be at the same character position it was when you started moving down.

Currently, if the cursor moves left while moving down (i.e. the next line was too short), if you move down to a longer line it won't try to make its way back.

[2017-04-24 21:17] nosami commented on #12
Yeah... I noticed this too. Will try and fix.

[2017-04-25 10:43] nosami commented on #12
Fixed by https://github.com/nosami/XSVim/commit/4be048b735a15982571baf58b3fd1991162e61a2

[2017-04-25 10:43] #12 closed, assigned to nobody

[2017-04-25 11:12] nosami commented on #4
Latest release for 7.0 https://github.com/nosami/XSVim/releases/tag/0.15

[2017-04-28 18:52] aguywithcode opened #13 "Modify "LastLine" command to support "GoToLine""
In Vim The G command can be modified with a number to GoTo a specific line number.

This is also supposed to work with ##gg

http://vim.wikia.com/wiki/Go_to_line

Also double digit numbers followed by a command don't work. For instance 9j takes you down 9 lines 10j takes you down one line
12j takes you down two.

[2017-05-01 05:32] nosami commented on #13
Thanks, will get this fixed!

[2017-05-01 18:00] aguywithcode commented on #13
Okay I was trying to see where it was happening so I could submit a patch but I couldn't find it.

Sent from my iPhone

On May 1, 2017, at 12:32 AM, Jason Imison <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks, will get this fixed!

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/nosami/XSVim/is

[2017-05-01 18:55] nosami commented on #13
No worries - it wasn't obvious at all!

[2017-05-01 19:41] nosami commented on #13
Fixed by #14. Thanks!

[2017-05-01 19:41] #13 closed, assigned to nobody

[2017-05-01 21:13] nosami commented on #4
https://github.com/nosami/XSVim/releases/tag/0.16

[2017-05-01 21:14] nosami commented on #13
Just released 0.16 containing this fix here for VS for Mac https://github.com/nosami/XSVim/releases/tag/0.16

[2017-05-02 13:55] nosami commented on #8
Which version of XSVim / XS / VS for Mac are you using?

This works for me with XSVim 0.16 / VS for Mac

[2017-05-02 15:54] richkzad commented on #8
Ah, this was 0.13 with XS! I will try 0.16 with the VS for Mac Preview.

[2017-05-02 15:56] nosami commented on #8
Thanks! It's not in the feed yet, so you'll need to install it from here https://github.com/nosami/XSVim/releases/tag/0.16

[2017-05-02 16:01] richkzad commented on #8
Okay, `$` works!

But found another somewhat related problem:

If you move up/down to a line which doesn't have enough characters to keep your cursor position, the cursor will land on the space after the last character of the line.

Example, (where `#` is the cursor)

[code]
(Tap `j`)
[code]

[2017-05-02 16:02] nosami commented on #8
Ok... thanks - I'll fix that.

[2017-05-02 16:04] richkzad opened #15 "`dd` on the last line of a document should remove the line, not just clear its contents"
If you `dd` while on the last line of a document, it will only clear its text.

It should also delete the line. So, if you `dd` on the 4th line of a 4-line document, your document should now only have 3 lines.

[2017-05-02 16:13] richkzad opened #16 "`w` should not ever land you after the last character of a line"
If you are on any line other than the last line of a document, `w` will eventually bring you to the character location after the end of the line.

(Where `#` is the cursor)
[code]
Tap `w`
[code]

[2017-05-02 16:13] richkzad commented on #16
Expected behavior in the above case would be:

[code]
Tap `w`
[code]

[2017-05-02 16:15] richkzad opened #17 "`a` on last character of line should have insert cursor after that character"
If your normal mode cursor is on the last character of a line, tapping `a` will give you an insert cursor before this character instead of after it.

`a` should always give you an insert cursor after the character you're on.

[2017-05-02 17:13] richkzad opened #18 "Keyboard shortcuts like ⌘S should be ignored by vim plugin"
When a file has changed since its saved version, `⌘s` will correctly save the file.

However, if the file has already been saved, `⌘s` will be interpreted by vim as `s`, which deletes the character you're on and brings you to insert mode.

I think that if a keyboard shortcut is assigned in VS but is currently not available, the keyboard shortcut should do absolutely nothing, and not be passed on t

[2017-05-02 17:14] richkzad commented on #18
Maybe it should be: any time a key is hit along with ⌘, it should be ignored by the vim extension?

[2017-05-02 18:19] richkzad opened #19 "`A` should have insert cursor after last character"
Currently, `A` brings the insert cursor to just before the last character in the line.

It should bring the insert cursor just after the last character of the line.

[2017-05-02 19:03] nosami commented on #8
Fixed by https://github.com/nosami/XSVim/commit/ea27f4def76ccbfb236de82754548f2d84270c48

[2017-05-02 19:03] #8 closed

[2017-05-02 20:25] #18 closed, assigned to nobody

[2017-05-02 20:28] nosami commented on #18
Ok... I just ignore the cmd key, it's easier :)

[2017-05-02 22:00] nosami commented on #15
This seems to be dependent on whether or not there is a `<cr>` on the last line before EOF

[2017-05-02 22:14] nosami commented on #17
This only seems to be broken for the last char before EOF

[2017-05-02 22:45] #17 closed, assigned to nobody

[2017-05-02 22:45] #19 closed, assigned to nobody

[2017-05-02 23:05] nosami commented on #19
Fixed in 0.16.3 - thanks!

[2017-05-02 23:05] nosami commented on #17
Fixed in 0.16.3 - thanks!

[2017-05-02 23:51] #16 closed, assigned to nobody

[2017-05-02 23:53] nosami commented on #16
Fixed in 0.16.4

[2017-05-03 05:25] richkzad opened #20 "`A` on last line of document should show insert cursor after last character"
On the last line of a document, `A` is currently placing the insert cursor just before the last character.

It should always place the insert cursor after the last character of the current line.

[2017-05-03 05:26] richkzad opened #21 "`a` on empty line should keep cursor on the current line"
If your cursor is on an empty line and you hit `a`, the insert cursor should appear on your current line, not move to the next line.

[2017-05-03 05:36] richkzad opened #22 "`vi)` doesn't support nested parentheses"
Where `#` is the cursor

`((abc)de#f)`
type `vi)`

The selection becomes contains `abc)def`, but it should contain `(abc)def`

Similarly, if you do a `yi)`, it will only yank `abc)def`

[2017-05-03 05:40] richkzad opened #23 "Pasting a line with `p` when cursor is on last line should add a new line to document"
(Where `#` is the cursor)
[code]

Say you had yanked a line with `yy`

Typing `p` should paste this line as the new 3rd and last line of the document.

Currently, it's pasting the line at the end of the first line of the document.

[2017-05-03 05:42] richkzad opened #24 "Undoing a repeated command like `3dw` should occur with one `u`"
If you run a repeated command like `3dw` to delete the next 3 words, typing `u` once should undo the deletion of all the words at once.

Right now, `u` will only undelete one word at a time.

[2017-05-03 05:45] richkzad opened #25 "`J` to join lines should place normal cursor on character that separates the lines of text"
[code]

tap `J`

Current:
`Hello Bob#` (cursor is after last character of line)

Expected:
`Hello#Bob`

[2017-05-03 05:46] richkzad opened #26 "`l` should not extend past last character of line"
`$` correctly places the normal cursor on the last character of the current line.

But currently, `l` (lowercase L) brings you to the character after the current line. `l` should not bring your cursor past the last character of the line.

[2017-05-03 09:02] nosami commented on #26
Thank you for raising these issues :)

[2017-05-03 10:49] #20 closed, assigned to nobody

[2017-05-03 10:49] #21 closed, assigned to nobody

[2017-05-03 10:52] nosami commented on #26
Fixed by https://github.com/nosami/XSVim/commit/0186aa57998c07eb3e3048d40ff5205d8fa7a8d0

[2017-05-03 10:52] #26 closed, assigned to nobody

[2017-05-03 11:00] #24 closed, assigned to nobody

[2017-05-04 03:50] richkzad opened #27 "Clicking past end of line should not place normal cursor on the last character of that line"
Currently, if you click past the end of the line, the normal cursor will rest past the last character of the line.

And, thanks for knocking out all these issues quickly! I've been playing with Xamarin a bit, and really appreciate you adding vim support to it!

[2017-05-04 11:21] nosami commented on #27
OK. Not sure whether or not it's possible to fix this but I'll give it a go.

Thanks for raising the issues :) I try and fix issues as fast as I can but I only have a small amount of time to work on this :)

[2017-05-04 11:56] nosami opened #28 "Everything typed in insert mode should be undoable with one undo"

[2017-05-04 12:12] nosami opened #29 "dgg and dG are both currently broken"

[2017-05-04 12:31] nosami opened #30 "'p' doesn't work between different documents"

[2017-05-04 18:11] richkzad opened #31 "Some documents open with flipped cursor and replace mode"
Sometimes certain C# files open in VS7 with the cursor looking like the insert cursor. Hitting Escape does nothing.

Even though I see the insert cursor, I appear to be in normal mode. `hjkl` move around the document.

When I go into insert mode with `i`, it acts as if I had just hit `R`. In other words, instead of inserting text, I'm replacing the text under the cursor.

It doesn't do this for al

[2017-05-04 18:43] nosami commented on #31
I've seen this myself a few times but not sure how to reproduce. It's down to a change between XS and VS apis.

[2017-05-04 18:50] nosami commented on #31
What I need to do as an interim step is clear state when a tab is closed, but not sure how yet.

[2017-05-05 07:39] nosami opened #32 "'p' at EOF puts at the top of the file"

[2017-05-05 08:13] #30 closed, assigned to nobody

[2017-05-05 08:27] nosami opened #33 "'A' should work in visual block mode to append after block"

[2017-05-05 11:28] #29 closed, assigned to nobody

[2017-05-05 18:01] #15 closed, assigned to nobody

[2017-05-06 19:15] nosami commented on #32
dupe of #23

[2017-05-06 19:15] #32 closed, assigned to nobody

[2017-05-06 23:08] #23 closed, assigned to nobody

[2017-05-07 18:32] nosami opened #34 "'C' and 'cc' should not delete the line when line is empty"

[2017-05-07 18:40] nosami commented on #31
To repro, change to insert mode, close the tab and reopen

[2017-05-07 19:00] nosami opened #35 "Support macros"

[2017-05-08 11:20] #31 closed, assigned to nobody

[2017-05-08 20:40] #34 closed, assigned to nobody

[2017-05-08 21:21] #25 closed, assigned to nobody

[2017-05-09 07:49] #28 closed, assigned to nobody

[2017-05-09 09:44] nosami commented on #31
It seems that there was a different bug that had the same effect. For reasons that I haven't investigated, Initialize() was called twice. This was causing the caret mode to be toggled twice (back  into insert mode)

Fixed in 0.16.9

[2017-05-10 16:32] nosami opened #36 "vG and vgg are broken"

[2017-05-10 16:32] nosami commented on #36
but v5G && v5gg work

[2017-05-11 18:07] nathanoconnor opened #37 "'p' does not work properly in visual mode"
If I have yanked text and I attempt to paste it using the 'p' command after having selected text in visual mode, nothing happens.

[2017-05-11 19:57] dlprows opened #38 "support for *"
When in normal mode, pressing * should search for the word that currently has the cursor in it

[2017-05-11 21:37] dlprows opened #39 "'A' in normal mode puts the cursor in the wrong spot"
'A' should put the cursor at the end of the line, but instead puts the cursor one character from the end of the line

[2017-05-12 20:22] nosami commented on #39
Which version are you running? If you're not running 0.16.9, can you grab it from here? https://github.com/nosami/XSVim/releases

Thanks!

[2017-05-12 20:24] nosami commented on #39
It's working in 0.16.9 / VS for Mac

[2017-05-12 20:26] nosami commented on #38
Yeah... I'll get this done soon

[2017-05-12 20:47] nosami commented on #37
I just tried this in vim. Starting with `abc` in normal mode, with the cursor on `a`, I type `vllyvllp`. The text wasn't pasted.

[2017-05-12 20:49] nosami commented on #37
Oh, hang on... it overwrote the original `abc` with a new `abc`... I see now :)

[2017-05-12 20:53] nosami commented on #4
Ok... I'm tired of updating this thread... but the latest version is always here https://github.com/nosami/XSVim/releases :)

[2017-05-12 21:17] #37 closed, assigned to nobody

[2017-05-12 21:25] nosami commented on #39
Closing this, but if you have issues with 0.16.9, then please reopen. Thanks!

[2017-05-12 21:25] #39 closed, assigned to nobody

[2017-05-12 21:48] nosami commented on #36
Fixed here https://github.com/nosami/XSVim/commit/ae1ce50f3931860f778d7bce103ecf31e78b3dc3

[2017-05-12 21:48] #36 closed, assigned to nobody

[2017-05-12 21:54] nosami commented on #37
Fixed in 0.16.10

[2017-05-13 00:08] #38 closed, assigned to nobody

[2017-05-13 00:09] nosami commented on #38
Added to 0.17.0

[2017-05-13 00:41] sowderca commented on #4
Thanks for your work on this. @nosami

[2017-05-13 11:11] nosami opened #40 "# and £ should act like *, only backwards"
With the exception that if the caret is not on a word, no action is taken.

[2017-05-13 11:19] #40 closed, assigned to nobody

[2017-05-13 11:53] nosami opened #41 "Keys typed in insert mode should be repeatable with `.`"

[2017-05-13 13:04] nosami opened #42 "Add ex mode commands"
At least the simple ones for now

[2017-05-13 13:31] nosami opened #43 "* + # should match on exact word, not substring"

[2017-05-13 13:34] nosami opened #44 "/ would be better if it didn't use the built in search dialog"
... then there would be no need to escape to stop searching.. It could also be used in combination with other commands such as `d/search`

[2017-05-15 08:47] #43 closed, assigned to nobody

[2017-05-15 20:40] aguywithcode commented on #13
Works great in VS for Mac GA

[2017-05-15 20:55] nosami commented on #13
There have been quite a few more releases since 0.16. You might want to look for the latest one :) https://github.com/nosami/XSVim/releases

[2017-05-17 08:13] nosami commented on #4
0.18.0 is now available in the VS for Mac extension gallery.

[2017-05-17 08:13] #4 closed

[2017-05-17 21:05] aguywithcode commented on #41
It looks like you have the . command implemented but it's repeating the last single command.
so if my last command is "h" (moveleft)  . repeats that.

but vim officially only stores the last **modifying** command. I.e. if I hit dd . it should delete two lines. If I hit 2dd. it should delete four.

Another example cwsometext followed by movement and then a . should repeat cwsometext at the new curs

[2017-05-17 21:06] nosami commented on #41
Yeah... I noticed this. Will get it fixed. Thanks for reporting!

[2017-05-17 22:03] nosami opened #46 "dw and cw on the last word on a line shouldn't delete the line delimiter"

[2017-05-18 16:39] dlprows commented on #39
It looks like its working. I believe i was on https://github.com/nosami/XSVim/releases/tag/0.16 which i had seen listed in the support for VS for mac issue.
Are you starting to keep the version listed in vs for mac extensions up to date, or should i look at the releases here on github for the latest?

[2017-05-18 16:45] dlprows commented on #44
+1. would also make n/N work with searching

[2017-05-18 18:42] nosami commented on #39
As of yesterday, the latest version should be in the VS for Mac gallery, so you should just be able to rely on the VS for Mac updater for updates.

[2017-05-18 18:48] nosami commented on #44
`n/N` should be working now with the built in search dialog. Will definitely make sure that they still work after I make this change :)

[2017-05-19 13:10] #46 closed, assigned to nobody

[2017-05-19 14:49] #9 closed

[2017-05-19 14:50] nosami commented on #9
Added to 0.20.0. Please let me know if they work as you expect - I don't use these myself... maybe I will now :)

[2017-05-19 14:55] nosami opened #49 "Add ge and gE"
... to go backwards to end of word/WORD

[2017-05-19 15:31] nosami opened #50 "Yanking moves the caret"
It should only move to the start of the selection when something is selected.

[2017-05-19 17:20] #50 closed, assigned to nobody

[2017-05-20 10:23] shirshov opened #51 "Treatment of quoted blocks is not the same as in VIM"
Quoted blocks are special in VIM, and currently XSVim treats them incorrectly.
For example, when executing `ci"` on this:
[code]
The result in VIM is
[code]

whereas in XSVim it is

[code]

Comments:

Actually, I can't find a definite reference for this. But VIM's model makes sense to me. Quoted strings are rarely nested, and in programming languages we usually deal with lines like these:
[code]

[2017-05-20 14:50] nosami commented on #51
Yep... I'll get this fixed!

[2017-05-21 20:27] nosami opened #54 "Ctrl-A should increment the next number on the line"

[2017-05-22 00:16] shirshov opened #55 "Implement jumps: H, M, L"
TLDR;:

`H`igh, `M`iddle, `L`ow -- move the cursor to first, middle, or last visible line

From VIM docs:

H			To line [count] from top (Home) of window (default:
			first line on the window) on the first non-blank
			character |linewise|.  See also 'startofline' option.
			Cursor is adjusted for 'scrolloff' option.

M			To Middle line of window, on the first non-blank
			character |linewise|.  Se

[2017-05-22 00:17] shirshov commented on #54
CTRL-X should decrement the number.
http://vim.wikia.com/wiki/Increasing_or_decreasing_numbers

[2017-05-22 11:33] nosami commented on #55
I would love to have this, but it might not be so easy. Lots of editor code was made internal between XS 6.0 and VS for Mac including the current scroll position.

I'm not sure if it's possible to determine the top visible line (without resorting to reflection hacks)

[2017-05-22 18:38] #27 closed, assigned to nobody

[2017-05-22 20:51] dlprows commented on #44
last time i tested `n/N` with `*` it wasn't working, but that could be separate from `/` searching

[2017-05-23 17:22] dlprows commented on #44
I just checked. `n/N` does work, but the built in search dialog keeps focus, so when i do `/something<CR>` the search dialog still has focus, so when i then press `n` i'm now searching for "somethingn"
If i press escape to get focus out of the search dialog, then `n/N` work as expected.
moving away from the built in search dialog would make it so that manually removing focus from the search dialog

[2017-05-23 17:28] nosami commented on #44
Yeah, I'm afraid that's just how it is right now. That's partly what this work will solve hopefully!

[2017-05-24 01:43] joe-zhang3 opened #56 "Ability to map jj to esc"
I've been using it for long time with other IDE's (Like visual studio code) by adding some map configurations.

It will be even better if the default .vimrc file can be read and respect.

[2017-05-24 07:36] nosami commented on #56
Yeah, I'd like to add this at some point but it's not high on my priority list.

In Vim, when you use an insert mapping like this, it needs to pause for some time after hitting the first `j` to see if you are going to press the 2nd one :)

[2017-05-24 09:53] #41 closed, assigned to nobody

[2017-05-24 10:36] aguywithcode commented on #41
You sir are amazing. I wouldn't be able to use VS on Mac without this plugin. Do you take donations?

[2017-05-24 10:41] nosami commented on #41
@mdizzy: No, but thanks :)

[2017-05-25 22:55] timorris opened #57 "Fix 'repeat' action"
Currently the "." command repeats the last movement in NormalMode (so if you type "j" to move down one line, then type ".", it will just repeat the "j" thus moving down one line again, even though the last "change" I did was to "dd" which deletes a line), but it should repeat last change, with count replaced with [count]. Also it should repeat a yank command, when the 'y' flag is included.  So it

[2017-05-26 03:24] aguywithcode opened #58 "O indents current line improperly"
Hitting 'O' to insert line above causes the line the cursor is at to indent.

[2017-05-26 09:54] #58 closed, assigned to nobody

[2017-05-26 09:57] nosami commented on #57
This is fixed in the latest version on the releases tab (0.23.0) https://github.com/nosami/XSVim/releases

It's not in the gallery yet because of issues with the build server. You can install the mpack file manually for now via `Visual Studio -> Extensions -> Install from File`

Thanks!

[2017-05-26 10:05] nosami commented on #57
This was reported in #41 with the fix [here](https://github.com/nosami/XSVim/commit/57e0d8ea1cdf19d3907f355cc15e7c820fc77bf3)

Currently not repeating `y` though.

[2017-05-27 18:20] nosami opened #62 "c2w doesn't change 2 words"
.. it only changes one, and the cursor ends up being in the wrong state (block for insert mode)

[2017-05-27 18:48] tdfacer opened #63 "`F`, `f`, `T`, and `t` commands fail for numerical arguments except for 0"
For example, if you had "abc$ d1 d2 d3 d4" and pressed `f4` the cursor wouldn't move.  However, with the same  text, if you press `f4d` it would result in this: "abc d1 d2 d3 d$4".  This makes me think it is being treated as a quantifier and we may just need to change a `run` to a `runOnce` somewhere.

[2017-05-27 19:15] nosami commented on #63
ah, I see. There was a similar bug with `r4` that was fixed [here](https://github.com/nosami/XSVim/blob/eb084f1cbb8af26a939f2ed887bf1ef36e3734a9/XSVim/XSVim.fs#L688)

[2017-05-27 19:18] nosami commented on #63
I think we need similar rules for `F`, `f`, `T` and `t` in between these lines https://github.com/nosami/XSVim/blob/eb084f1cbb8af26a939f2ed887bf1ef36e3734a9/XSVim/XSVim.fs#L696-L698

Can probably match all 4 of these chars by using [FindChar](https://github.com/nosami/XSVim/blob/eb084f1cbb8af26a939f2ed887bf1ef36e3734a9/XSVim/XSVim.fs#L657-L661)

[2017-05-28 08:19] nosami commented on #63
I haven't tried this yet, but does `2fg` work for example to find the 2nd `g` on the line? If not, I think it can be fixed by moving your `FindChar` pattern match down a few lines.

[2017-05-28 09:06] #63 closed, assigned to nobody

[2017-05-28 09:09] nosami opened #66 "Automate pushing releases to github"
Now that we have a travis build set up, we could probably easily automate pushing releases to github (I do this manually right now)

We could probably also get a feed set up so that updates could be automatically fetched inside VS for Mac without relying on the monodevelop addin build server.

[2017-05-28 20:51] #62 closed, assigned to nobody

[2017-05-28 23:01] nosami opened #68 "Support marks"

[2017-05-28 23:20] nosami opened #70 "5V should select 5 lines"
.... and 5Y should yank 5 lines

[2017-05-28 23:34] shirshov commented on #55
Looks like the correct way of getting the first/last lines is through `editor.TextView.TextViewLines.FirstVisibleLine`. This is not implemented yet:
[code]

Source is here: https://github.com/mono/monodevelop/blob/master/main/src/core/Mono.TextEditor.Platform/Platform/Text/Impl/MdView/TextView.cs#L346

But, line 271 of TextView.cs contains this code, we should watch for it to be enabled, I guess:

[2017-05-29 00:20] nosami commented on #55
doesn't look like that is defined anywhere https://github.com/mono/monodevelop/search?utf8=%E2%9C%93&q=TARGET_VS&type=

[2017-05-29 11:12] shirshov opened #72 "Implement `'.` to jump to last edit location"
`'.` should return to the last edited line.

It looks like it's a specific case of a more general feature: marks. Dot is a mark for the last edited line.

[2017-05-29 22:42] #54 closed, assigned to nobody

[2017-05-30 00:03] nosami commented on #72
[code]
 There is a backtick variant that should do the same thing.

[2017-05-30 00:10] nosami opened #75 "Support `!` to pipe text through external commands"

[2017-05-30 11:05] nosami commented on #57
Is repeating yank useful? I can't think how I would use it.

If not, I'll close this ticket as the other points have already been addressed.

Thanks!

[2017-05-30 12:53] nosami commented on #72
So, the backtick variant isn't quite the same. `. goes to the end of the last edit

[2017-05-30 13:55] timorris commented on #57
Thanks for the response -- repeating the yank action itself isn't useful, really just the paste action.

... and for some reason, installing v0.23.3 is complaining that it cannot resolve dependencies:

"The selected add-ins can't be installed because there are dependency conflicts"

- MonoDevelop.Core v7.0
- MonoDevelop.Ide v7.0
- MonoDevelop.SourceEditor2 v7.0

I don't believe I had to install th

[2017-05-30 15:25] nosami commented on #57
Oh... the new version only works in Visual Studio for Mac. Can you install that?

The issue is that the Addin codebase changed significantly for VS for Mac, and I don't want to update 2 code bases.

[2017-05-30 16:20] timorris commented on #57
Ah okay will do thanks!

[2017-05-30 16:22] nosami commented on #57
thanks! v0.24.0 is currently in the VS for Mac extension gallery, so you should be ok with that

[2017-05-30 16:22] #57 closed, assigned to nobody

[2017-05-31 09:06] nosami commented on #66
Automated releases added by https://github.com/nosami/XSVim/pull/76

[2017-05-31 17:04] aguywithcode opened #78 "Add support for registers."

[2017-06-02 18:42] #70 closed, assigned to nobody

[2017-06-03 03:20] #33 closed, assigned to nobody

[2017-06-03 05:25] #49 closed, assigned to nosami

[2017-06-03 05:47] nosami opened #83 "Vy on the last line with EOF should append a newline"
Given `abc$EOF`,
Vyp should result in
[code]

but instead gives `abcabc$`

`yyp` works fine.

[2017-06-04 09:10] nosami opened #84 "Backwards delete deletes one too few characters"
For example, given `abcdef$`, `dTa` leaves `af$`, whereas it should be `a$`

[2017-06-04 09:33] nosami commented on #84
I was wrong about this, Vim does the same thing.

[2017-06-04 09:33] #84 closed, assigned to nobody

[2017-06-04 09:45] nosami opened #85 "`T` and `t` aren't repeatable with `;`"

[2017-06-04 18:18] #85 closed, assigned to nosami

[2017-06-05 12:51] nosami opened #88 "ci` should work for backtick"

[2017-06-05 13:10] nosami opened #89 "r should be repeatable"

[2017-06-05 13:12] #88 closed, assigned to nobody

[2017-06-06 18:20] #89 closed, assigned to nosami

[2017-06-07 18:38] nosami opened #92 "Undo sometimes corrupts text"
Reported here - https://bugzilla.xamarin.com/show_bug.cgi?id=57254

I've seen this on occasion too, although I'm not sure what's causing it.

[2017-06-07 21:51] decriptor commented on #42
some basic commands like:
`:w` -> save
`:wq` -> save and close tab
`:q` -> close file
`:q!` -> discard changes and close tab
`:e {file}` -> edit the file. Maybe have some kind of search/completion for classes?

others? https://www.fprintf.net/vimCheatSheet.html

[2017-06-07 22:00] nosami opened #93 "Support , to repeat find in opposite direction"
`,` should work the same as `;`, but in the opposite direction

[2017-06-08 03:58] nosami commented on #92
To repro :-

Press `C` to change a line, `<esc>`, move down to next line, `C`, `cmd-z`, `<esc>`, `u`

[2017-06-08 05:31] nosami commented on #92
The issue is caused when we are still in an insert mode undo group and cmd-z is pressed. There appears to be no way to override cmd-z behaviour, but I can disable it.

This seems to be the best option right now.

[2017-06-08 06:19] #92 closed, assigned to nobody

[2017-06-08 07:08] tdfacer opened #95 "`e` Jumps Over Some Punctuation Incorrectly"
* Vim behaves like this:
|         "int model$);\n " `e` "int model);$\n "
* XSVim behaves like this:
|         "int model$);\n " `e` "int model);\n $"

* Note the error in jumping past the last char and over the new lines one command early
* I also noticed it in this scenario:
|         "Task<List<SomeWord$>> nextWord" `e` "Task<List<SomeWord$>> nextWord$"
|         when it should move to here; "

[2017-06-08 07:59] nosami commented on #95
OK. Will get this fixed

[2017-06-08 08:55] nosami commented on #95
This is what the vim docs have to say about it

[code]

`set iskeyword?` yields  `iskeyword=!-~,^*,^|,^",192-255`

[2017-06-11 04:19] nosami opened #97 "`<C-[>` should escape but inserts `]` instead"

[2017-06-11 04:25] nosami opened #98 "Support `gv` to select last visual selection"

[2017-06-11 05:10] nosami commented on #72
`'.` will go to the start of the line of wherever the backtick variant is. The same for all other marks too.

[2017-06-11 05:23] #95 closed, assigned to nosami

[2017-06-11 07:09] nosami commented on #68
`'a` is like \`a but jumps to the first character on the line where mark `a` is

[2017-06-11 07:12] #83 closed, assigned to nosami

[2017-06-11 11:17] #93 closed, assigned to nosami

[2017-06-13 23:56] #98 closed, assigned to nosami

[2017-06-14 11:19] nosami opened #104 "Support keyboard remapping"
... somehow

[2017-06-14 14:40] #55 closed, assigned to nobody

[2017-06-15 10:23] #51 closed, assigned to nobody

[2017-06-15 12:22] nosami opened #109 "When jumping to other files, the editor doesn't get focus"
Need to click on the editor first - I think this is a VS bug, but we should be able to fix it by invoking editor.GrabFocus() in the addin initialisation.

[2017-06-15 13:27] #109 closed, assigned to nobody

[2017-06-15 13:34] nosami commented on #42
Might be able to use this code from VsVim https://github.com/jaredpar/VsVim/blob/447d980da9aa6c761238e39df9d2b64424643de1/Src/VimCore/Interpreter_Parser.fs

to parse commands. It looks quite portable.

[2017-06-16 10:06] #22 closed, assigned to nobody

[2017-06-16 10:50] #72 closed, assigned to nobody

[2017-06-16 10:51] nosami commented on #68
This is pretty much done now... ` and ' both work. Just need to differentiate between editor marks and global marks (lowercase vs uppercase mark names)

[2017-06-22 10:46] #44 closed, assigned to nobody

[2017-06-24 18:50] nosami opened #117 "`.` to repeat doesn't work after intellisense is used in insert mode"
Only the individual characters typed are repeated.

Not sure how to solve this yet. Maybe we need to override the default intellisense somehow.... or maybe we can hook into the TextChanged event.

[2017-06-26 08:19] nosami opened #118 "Exception when removing a marker"
I can't reproduce this reliably, but I just saw the following exception in the log.

[code]

When this happens, XSVim gets in the wrong state with the Insert mode having a block cursor and vice versa.

[2017-06-26 08:20] #118 closed, assigned to nobody

[2017-06-27 07:46] #35 closed, assigned to nosami

[2017-06-29 15:32] qguv opened #120 "`gt` and `gT` misbehave when editor window is split"
When the editor is split into multiple views each with multiple tabs, sometimes `gt` or `gT` jumps between the splits, seemingly arbitrarily. Both commands should only operate within their split.

[2017-06-29 17:04] qguv opened #121 "Paste doesn't preserve newlines (when line endings are `\r\n`)"
After copying a line with `yy`, `pp` should insert the default register's contents on a new line. Right now, it appends to the current line.

[2017-06-29 17:21] nosami commented on #121
Which version are you on?

I just tried this and can't see any issues with it... and there are some tests here https://github.com/nosami/XSVim/blob/7.0/XSVim.Tests/YankAndPut.fs#L52-L58

Is it not working anywhere in any file, or just in certain places?

[2017-06-29 17:22] nosami commented on #120
Yeah.... this is annoying. Will try and fix.

[2017-06-29 19:25] qguv commented on #121
Here's a little demo. After the paste, my cursor gets thrown way down in the file, so I have to use repeated 'k' to get it back. The 'R' keypresses are actually 'P' keypresses; that's a bug in the on-screen keypress displayer.

<img src="https://ptpb.pw/2OXE.gif" />

[2017-06-29 19:28] nosami commented on #121
Are you using 0.34.0? it looks like an old bug.

[2017-06-29 19:30] qguv commented on #121
This is on 0.34.0.

[2017-06-29 19:40] qguv opened #122 "Implement double-backtick movement command"
Double backtick should take the user to the last location in the file. Right now it does not.

[2017-06-29 20:38] nosami commented on #122
This sounds pretty useful - I'll look into it.

You can use `. to jump to the last edit at the moment.

[2017-07-02 08:38] nosami commented on #122
If I understood how this was supposed to work, I would implement it :)

[2017-07-03 11:26] #120 closed, assigned to nosami

[2017-07-03 11:32] qguv commented on #120
Nice work! Thanks Jason.

[2017-07-03 11:59] nosami commented on #121
Oh ... I see what the issue is now.... it happens when you have `\r\n` line endings. Will get this fixed

[2017-07-03 15:53] nosami commented on #121
Fixed this along with some other `\r\n` issues.

Please let me know if you find any other issues, I very rarely use Windows line endings. Thanks!

[2017-07-03 15:55] nosami commented on #121
Seems I didn't fix this very well at all. Re-opening

[2017-07-03 16:32] #121 closed, assigned to nosami

[2017-07-03 17:03] nosami commented on #121
Ok... should be good now!

[2017-07-07 06:31] nosami opened #130 "Intellisense window pops up in normal mode"
<img width="262" alt="screen shot 2017-07-07 at 07 29 42" src="https://user-images.githubusercontent.com/667194/27945729-38afc296-62e6-11e7-91ed-1ba66190e0a0.png">

Not sure why this sometimes happens and sometimes doesn't, but it's pretty annoying.

[2017-07-07 16:13] qguv commented on #121
Confirmed fixed, thanks. Nice work!

[2017-07-07 16:59] nosami commented on #121
@qguv Thanks for confirming. Each test is now ran twice - once with LF line endings, and then again with CRLF line endings, so hopefully this will be enough to catch this sort of issue in the future. Cheers!

[2017-07-09 09:08] nosami opened #131 "Support hjkl in solution pad and other pads"

[2017-07-09 12:34] #131 closed, assigned to nobody

[2017-07-09 17:25] #130 closed, assigned to nobody

[2017-07-11 08:43] nosami opened #134 "When the solution pad is in auto hide mode, pressing <esc> should focus the editor"

[2017-07-11 08:45] nosami commented on #117
There are other cases where this happens that don't involve intellisense.... auto insert `)` when `(` is typed for example.

So this issue almost definitely needs to be solved using the TextChanged event.

[2017-07-11 08:45] nosami opened #135 "HJKL on solution pad sometimes fail when there is more than one level of nesting"

[2017-07-11 17:48] nosami opened #136 "C is broken for the last character on a line"
The last character isn't deleted.

[2017-07-12 08:49] #136 closed, assigned to nobody

[2017-07-12 11:14] nosami commented on #134
Fixed it so that it works when the solution pad is docked.

Opened https://bugzilla.xamarin.com/show_bug.cgi?id=58102 to track bug where FocusDocument doesn't work when the solution pad is in auto-hide mode.

[2017-07-16 11:36] nosami opened #138 "Running `ce` on a single char deletes to the end of the next word"
e.g. with the cursor on `a` in `a bcd`, running `ce` will delete both words

[2017-07-19 19:57] nosami opened #139 "* on the last character of a word is broken"
It doesn't do anything

[2017-07-23 10:42] #138 closed, assigned to nobody

[2017-07-23 20:51] mzieg commented on #104
Is there a page or file describing what vim commands are already supported?  For instance, it seemed that ctrl-F and ctrl-B weren't mapped to page-forward and -back.  I'm new to Visual Studio Community (Mac), but I spent many years using VsVim from Windows, and am very excited that a similar extension is available in this environment.

[2017-07-27 22:25] nosami commented on #104
@mzieg - unfortunately there isn't a page or file describing what is available, but you should be able to work it out by looking at the code [here](https://github.com/nosami/XSVim/blob/7.0/XSVim/XSVim.fs#L998-L1028) and [here](https://github.com/nosami/XSVim/blob/7.0/XSVim/XSVim.fs#L1094-L1259)

The trick to some of the shortcuts (such as `<C-f>` and `<C-b>` is that you need to unbind them from wh

[2017-07-31 00:28] #139 closed, assigned to nobody

[2017-07-31 00:39] nosami opened #142 "de and ce delete too many chars when caret is on a word end and next char is punctuation"
e.g. in the following line

[code]

with the caret on the last `o` in `Mono`, `ce` currently changes until the end of the line

[2017-07-31 00:59] #142 closed, assigned to nobody

[2017-07-31 02:01] nosami opened #144 "dw eats punctuation"
e.g. here `open M$ono.Addins`, running `dw` deletes the dot

[2017-08-01 14:36] #144 closed, assigned to nobody

[2017-08-02 12:54] nosami commented on #104
@mzieg Since 0.38.0 https://github.com/nosami/XSVim/pull/147/files, built in conflicting Visual Studio for Mac commands are automatically disabled, so `<C-f>` works out of the box.

[2017-08-02 14:32] mzieg commented on #104
Wow, thank you!

[2017-08-08 09:22] nosami opened #150 "CMD-r rename refactoring only works in insert mode"
There is no real reason to stop it from working in normal mode.

[2017-08-09 09:20] nosami opened #152 "Jump to line commands should move to first word on the line"
.....Not column 0

[2017-08-09 09:21] nosami opened #153 "s at the last column on the line puts insert caret at the wrong place"

[2017-08-09 09:23] nosami opened #154 "daw and diw are currently broken"
See https://github.com/shirshov/XSVim/commit/de6e1ac45fc96311dbd8ee933d6538d623c6e3b9

[2017-08-11 08:22] #153 closed, assigned to nobody

[2017-08-11 19:38] #152 closed, assigned to nobody

[2017-08-13 07:10] nosami opened #155 "dw shouldn't delete the line delimiter"
... when the last word is touching EOL

[2017-08-13 08:00] #155 closed, assigned to nobody

[2017-08-13 14:56] #150 closed, assigned to nobody

[2017-08-18 00:48] shirshov opened #156 "Visual Studio for Mac crashes when opening Edit menu"
Every time I try to open Edit menu, Visual Studio crashes, when at least one source code file is open.
(VS version 7.2 build 487, but I don't think it matters)

It looks like the culprit is the following line:
https://github.com/nosami/XSVim/blob/7.0/XSVim/XSVim.fs#L43
It was introduced in this commit: https://github.com/nosami/XSVim/commit/bb69ad6bb166691f2d7e7e4c7708c7d7e8ec5d36. If I comment ou

[2017-08-18 05:27] hifi opened #157 "dw has incorrect whitespace and punctuation rules"
Using `dw` to remove whitespace removes only the first one, it should remove all of them.

Additionally `<dw>foo.bar` produces `bar` when it should produce `.bar` (stop before punctuation).

[2017-08-18 05:36] hifi opened #158 "% does not count parentheses properly"
This example fails `(foo(bar))` when you use `%` at the last closing `)`. It jumps to opening `(` before `bar`.

[2017-08-18 05:51] hifi opened #159 "r<ENTER> does not work"
For some reason in my work flow I use `r<ENTER>` quite often to replace a character by a new line. It does nothing currently.

[2017-08-18 05:55] hifi commented on #157
Uh, was using an older release from the official repo.

[2017-08-18 05:55] #157 closed, assigned to nobody

[2017-08-20 08:56] nosami commented on #156
We shouldn't disable them automatically. There should be an option on the first run to offer to disable them. I disabled them because there have been multiple comments on the issue tracker here and on stack overflow with people not knowing how to configure these (and it's not at all obvious which commands need disabling - it differs by OS for example)

What's the stack trace when it crashes?

[2017-08-20 08:57] nosami commented on #156
`CTRL-I` is one the most frequent vim keybinds that I use by the way. And I _never_ use `format document` :)

[2017-08-20 09:50] nosami commented on #156
OK. Managed to reproduce in 7.1 build 1281 after reassigning Ctrl-I to Format Document

[code]

[2017-08-20 10:00] nosami commented on #156
Broken in 7.2 too... but everything starts to work again as soon as you delete the `<C-i>` binding.

I spoke to @sevoku recently about unbinding built in keybindings and he hinted that this may be improved in the future.

We shouldn't be using CommandManager.UnregisterCommand but currently there is no other way to do it than manually rebinding each command.

[2017-08-21 07:26] sevoku commented on #156
@nosami as a workaround you could try to unset just the binding without messing with the `CommandService`. Something like this:
[code]
Additionally you could enum the bindigs for that command with `KeyBindingService.CurrentKeyBindingSet.GetBindings (cmd);` and remove just the conflicting one.

[2017-08-21 08:55] #159 closed, assigned to shirshov

[2017-08-21 08:56] nosami commented on #159
Hey @hifi!!

Fixed this in 0.40.5, thanks for reporting

[2017-08-21 11:40] hifi commented on #159
Thanks! Most things I use seem to work fine now so it's very usable.

[2017-08-22 15:11] nosami commented on #156
Thanks @sevoku! I'll try that out.

[2017-08-22 16:53] nosami commented on #159
@hifi: That's good to hear!

[2017-08-22 18:31] #158 closed, assigned to shirshov

[2017-08-22 18:32] nosami commented on #158
Please try v0.40.6. Seems to be working to me, although I couldn't make the test work for the exact case you describe.

[2017-08-23 03:32] nosami commented on #156
KeyBindingService.CurrentKeyBindingSet.SetBinding (cmd, new string[0]);

@sevoku I tried this but none of the keys that I'm attempting to override can be intercepted by the vim addin.

[2017-08-23 04:08] #97 closed, assigned to nobody

[2017-08-23 08:47] nosami commented on #122
So it seems that `G, gg, H, M, L, /, {, }, <C-f>, <C-d>, <C-b>, <C-f>` are jump commands.

Any time that you jump within the same file, `` should take you back to the line and column of the location before the jump and '' should take you to the line of the jump.

I'm not familiar with this command.. Am I missing anything else that might be considered a jump?

[2017-08-23 10:13] #122 closed, assigned to nobody

[2017-08-23 12:15] nosami commented on #42
Added some makeshift code for `q, q!, qa, qa!, w, wq, wq!, wa, wa!`

[2017-08-23 23:49] dlprows opened #162 "Crash when trying to open a file in latest stable Visual Studio for Mac"
After updating to the latest stable Visual Studio for mac i get a type load error whenever i try to open a file.

Error:

My about Visual Studio shows the following

If I disable the vim plugin, the error goes away, which leads me to believe that its the vim plugin

[2017-08-24 05:40] hifi opened #163 "Indentation and cursor position are wrong after r<ENTER>"
The cursor is left at the end of the line where it should instead be on the first character of the new line.

Also the new line is not indented properly like if you would do `xi<ENTER>` which works like it should.

[2017-08-24 05:40] hifi commented on #158
Now it does work, thanks!

[2017-08-24 05:54] hifi opened #164 "dd leaves the cursor on the wrong line and character"
Consider this:
[code]

When issuing `dd` it should end up like this:
[code]

Instead this happens:
[code]

And when removing a line that has an empty line after it, the cursor incorrectly jumps one line back:
[code]

Should do:
[code]

But it ends up:
[code]

Hopefully this explanation was good enough. Used an empty text file in Vim to test for correct behaviour.

I think a general rule is that wh

[2017-08-24 06:18] hifi opened #165 "> and < should wait for a second character"
The single line indentation commands are `<<` and `>>` but XSVim indents with only `<` and `>`. In visual select mode plain `>` and `<` are correct, though.

They seem to accept directional keys `jk` in Vim to indent current and a line above or below at the same time.

[2017-08-24 06:39] nosami commented on #158
Thanks for confirming!

[2017-08-24 06:41] nosami commented on #162
Hmm, ok. I can't imagine how the vim addin could be interfering here though.

[2017-08-24 06:43] nosami commented on #164
Thanks for the detailed report - I'll take a look into this.

[2017-08-24 06:46] nosami commented on #163
Ok. Will fix this. I should have checked `r<enter>` in Vim first, I never use it.

[2017-08-24 06:47] nosami commented on #165
OK. Will check this out. Thanks!

[2017-08-24 06:58] nosami commented on #163
When I try this in vanilla vim, with no language plugins, then the cursor is on a new line, but not indented.

I guess XSVim should be a little cleverer here and always auto-indent (maybe based on the VS for Mac indentation setting). There are probably more cases of auto-indent not working that I haven't considered.

[2017-08-24 07:03] nosami commented on #165
Wow... had no idea

[2017-08-24 08:13] hifi commented on #163
True, without any knowledge of indentation rules Vim does not indent the new line but the cursor does move there.

These things were "working" (but not this particular case) in JustEnoughVi because it abused the IDE indentation rules by adding a new line like the user would which would then invoke the text editor to do its own indenting rather than the plugin trying to figure it out.

Although, `o

[2017-08-24 08:15] hifi commented on #165
Neither did I. If I need to do that I always use visual select.

[2017-08-24 08:15] nosami commented on #163
Yeah, I'm going to try and do the same thing here (insert enter via base.KeyPress instead of "\n") and check all the other cases (`O, o, I, i, C, cc, s, S`) etc.

[2017-08-24 08:18] nosami commented on #163
@hifi btw, your presence would be greatly appreciated in the gitter room. Your feedback is invaluable :)

[2017-08-24 14:52] dlprows commented on #162
I did some fiddling around, and it looks like its a problem with having both Nuget Package Management Extensions and Vim enabled at the same time.
I'm fine with just disabling the nuget extensions so that I can use Vim.

Thanks for letting me know that you didn't think it was vim. Since it would only crash when i tried opening a file, and disabling the vim addin made the crash go away, i didn't do

[2017-08-24 14:52] #162 closed, assigned to nobody

[2017-08-24 16:20] qguv commented on #122
Hi again! It looks like double-backtick wasn't implemented in 0d4628d8cbb0096717af063967548383edb416d1. I tested all the jump commands I use against their intended function per their `:h` page.

These are perfect:

- [X] `G` jump to last line
- [X] `gg` jump to line 1
- [X] `{` jump to the previous blank line
- [X] `}` jump to the next blank line
- [X] `^D` move down
- [X] `^F` move down more
- [X

[2017-08-24 18:25] nosami commented on #122
That's strange. It's working fine for me.

Yeah, I know about this, but not sure that there is anything I can do about it. I get the visible lines [here](https://github.com/nosami/XSVim/blob/0d4628d8cbb0096717af063967548383edb416d1/XSVim/XSVim.fs#L224). The `?` indicates that I'm using reflection here to access this property, it's not even intended to be used by addin authors :(

 ^E move the scre

[2017-08-24 19:37] nosami commented on #165
`>>` is now used (0.42.1) to indent when in normal mode. Will need to give some thought on how to handle `>j` or `>3j`, `>}` etc. My gut feeling is that some sort of indentation sub mode would be needed.

[2017-08-25 02:25] eibrahim opened #166 "remap ESC to hh"
I map the escape key to hh in vim.  how can I do that with your extension?

I hope this is the right place to ask questions.

[2017-08-25 10:25] #164 closed, assigned to nobody

[2017-08-25 10:25] nosami commented on #164
Ok. This should be fixed in 0.42.2

[2017-08-25 11:37] #163 closed, assigned to nobody

[2017-08-25 11:38] nosami commented on #163
Fixed in 0.42.3

[2017-08-25 13:03] nosami commented on #166
Closing as it's a dupe of #56. I'll work on it soon!

[2017-08-25 13:03] #166 closed, assigned to nobody

[2017-08-27 14:56] hifi opened #167 "dw at the start of an indented opening brace moves it back one line"
Test case:
[code]

`dw` currently does this:
[code]

Should do:
[code]

Having to manually fix indentations a few times I hit this.

[2017-08-27 22:12] #165 closed, assigned to nobody

[2017-08-27 22:15] nosami commented on #165
All of your issues are fixed in 0.43.0 (see https://github.com/nosami/XSVim/blob/ca719a7ddfdd75963609ec9e804807c4ed483ebe/XSVim.Tests/IndentationTests.fs). Some indentation issues remain though. Merged anyway as there are a number of improvements here.

[2017-08-28 11:00] #167 closed, assigned to nobody

[2017-08-28 11:46] #154 closed, assigned to nobody

[2017-08-29 20:22] nosami opened #169 "Support = to auto indent"

[2017-09-02 00:42] HelloKashif opened #171 "CTRL+D Doesn't scroll page. It deletes the word/line instead"

[2017-09-02 05:19] hifi commented on #171
You need to unbind the keys you want XSVim to capture from Xamarin Studio.

[2017-09-02 08:26] nosami commented on #171
Actually, unbinding keys should not be necessary any more. You should just need to install the latest version from the [releases](https://github.com/nosami/XSVim/releases) page

Control-D is automatically unbound https://github.com/nosami/XSVim/blob/7.0/XSVim/XSVim.fs#L29

[2017-09-02 08:26] #171 closed, assigned to nobody

[2017-09-05 06:42] #56 closed, assigned to nobody

[2017-09-05 06:42] nosami commented on #56
Fixed in 0.44.0 by https://github.com/nosami/XSVim/pull/172

[2017-09-06 11:44] hifi opened #173 "Implement replace mode"
The `R` replace mode is not implemented yet.

[2017-09-06 11:46] nosami commented on #173
Will get this implemented soon!

[2017-09-06 13:22] hifi opened #174 "Multi line paste leaves cursor on the wrong line"
When pasting multi-line text, the cursor should be placed on the first line of the pasted text and not after the last line.

This behaviour is to expected from both `p` and `P` at least.

[2017-09-06 13:23] nosami commented on #174
Thanks for reporting, will fix

[2017-09-07 06:38] nosami opened #175 "dd issues"
- dd on last line moves caret to the first line - it should stay at the bottom
- 2dd on second to last line, followed by put only pastes one line

[2017-09-07 09:04] #174 closed, assigned to nobody

[2017-09-07 09:05] nosami commented on #174
Fixed in 0.44.4

[2017-09-08 11:02] nosami opened #176 "c% deletes one too few characters"

[2017-09-08 11:25] #173 closed, assigned to nobody

[2017-09-08 11:25] nosami commented on #173
I added this to 0.45.0. It seems ok to me, but I never use this mode in Vim. Let me know if you find any issues!

[2017-09-08 23:49] #176 closed, assigned to nobody

[2017-09-14 04:55] hifi opened #177 "In replace mode, `u` works differently from Ctrl-Z"
Trying out replace mode, if I replace a bunch of text within a line and then hit `u` only the last character is reverted. In Vim and by using the MonoDevelop Ctrl-Z shortcut all of the text that was typed will be reverted or at least a larger chunk.

I would expect `u` to do the same thing as the IDE undo command.

[2017-09-14 07:57] nosami commented on #177
Will get this fixed - thanks. `u` should delete everything that was entered whilst in replace mode.

[2017-09-14 10:52] #175 closed, assigned to nobody

[2017-09-15 09:08] #177 closed, assigned to nobody

[2017-09-15 23:31] nosami opened #178 "Selecting text with mouse or cmd+arrow keys should switch to visual mode"
As right now, it's a little confusing if you make a selection outside of XSVim and things don't work.

[2017-09-16 23:17] BentChainRing commented on #178
Hi Jason,
I have been using your Vim plugin on VS2017 for the Mac. Thanks and really appreciate the speed of the fixes.

Question:
I recently found out I have to use VS 2017 on a PC. Do you know of a VIM extension for the free version of VS on the PC? I think they now called it Visual Studio Community 2017? I have not confirmed this, but it seems, unlike the Mac version, MS does not allow 3rd part

[2017-09-17 00:04] nosami commented on #178
Hi @BentChainRing - You should definitely try out [VsVim](https://marketplace.visualstudio.com/items?itemName=JaredParMSFT.VsVim). I haven't tried, but I'm pretty sure that Extensions are now allowed in Visual Studio Community for Windows.

[2017-09-17 04:07] hifi opened #179 "`x` on second last character in line incorrectly moves cursor"
Consider `foo(ba$r)`

Hitting `x` should end up with:

`foo(ba$)`

But the cursor is currently incorrectly moved (wrong order of evaluation?):

`foo(b$a)`

[2017-09-17 10:02] nosami commented on #179
Which version are you running on? It's not doing that here.

![foobar](https://user-images.githubusercontent.com/667194/30519828-a5f9d924-9b97-11e7-97ad-246424a7c51a.gif)

[2017-09-17 10:35] nosami commented on #66
We have automated .mpack file pushing already. I'm not sure if it's worth the effort right now to create a feed for people to subscribe to.

[2017-09-17 10:35] #66 closed, assigned to nobody

[2017-09-17 11:38] hifi commented on #179
Apparently I got confused between my work and home MD installs, I had a really old one at home. No problem with latest, sorry.

[2017-09-17 11:38] #179 closed, assigned to nobody

[2017-09-17 11:48] nosami commented on #179
No worries - thanks!

[2017-09-17 12:20] hifi opened #180 "^C should abort ex mode like ESC does"
Ctrl-C is not interpreted in ex mode but the c character is added to ex buffer. It should close the ex mode just like the escape key does.

[2017-09-17 12:24] nosami commented on #180
Will fix

[2017-09-17 12:44] #180 closed, assigned to nobody

[2017-09-17 12:46] nosami commented on #180
Fixed in 0.45.6 by https://github.com/nosami/XSVim/commit/ed0ec8a606d4609df9d2634696a8587c1b934066

[2017-09-26 14:55] aguywithcode opened #181 "Problem with r action"
Haven't confirmed if this happens in other cases but r followed by " causes a strange effect.

The character under cursor is replaced by " as expected but the next key stroke also replaces the following character.

[2017-09-26 14:56] nosami commented on #181
Which version are you running on? Seems to work ok here.

[2017-10-01 05:07] nosami opened #182 "o in Visual Mode should move caret to opposite end of selection"
[code]

[2017-10-05 02:34] nosami opened #183 "Pressing `w` only skips over 2 tabs"
If code is indented with 3 tabs, the caret stops at the end of the 2nd.

[2017-10-07 09:37] nosami commented on #181
Reopen if you are hitting bugs with the latest version.

[2017-10-07 09:37] #181 closed, assigned to nobody

[2017-10-07 11:52] #183 closed, assigned to nobody

[2017-10-09 22:39] nosami opened #185 ".vimrc parsing"
Pretty similar to https://github.com/nosami/XSVim/issues/42 as both issues require a VIML parser.

Maybe we should determine what are the most common commands that would be required here - I'm pretty certain that writing a good VIML parser / interpreter would be just as difficult as the editor extension itself - it would be good to prioritise what work needs doing here.

[2017-11-17 02:06] shirshov commented on #178
I vote No on this.

I pair with many people who don’t know VIM. I tell them “Just press i”, and they are back to what they know.

[2017-11-17 08:14] nosami commented on #178
@shirshov: Vim supports mouse selections :)

[2018-01-15 14:04] nosami opened #188 "Unregister existing shortcuts only on OSX"
See comment - https://github.com/nosami/XSVim/pull/147#issuecomment-357690893

[2018-01-15 15:23] #188 closed, assigned to nobody

[2018-01-16 18:56] nosami commented on #134
Fixed [here](https://github.com/mono/monodevelop/pull/3669/commits/1f198dff3e169268c46df82535b0e2f545aed970)

[2018-01-16 18:56] #134 closed, assigned to nobody

[2018-01-25 10:07] CallumHoward opened #190 "Bug: Can't quit Visual Studio with Vim plugin"
Hi,

This is not my thread, but I have been able to replicate the bug described on the latest release with latest Visual Studio Mac and latest Unity.

https://developercommunity.visualstudio.com/solutions/104684/view.html

As described, when quitting, a blank Visual Studio window remains open and must be force quit. Happy to provide further debug info if required. It does not occur if Visual Studi

[2018-01-25 11:09] nosami commented on #190
Will investigate, thanks!

[2018-01-25 17:29] weijia-yu opened #191 "How to enable Substitute Command mode?"
I tried to use :s/oldword/newword by selecting lines in normal mode, but nothing happened. What is the correct way to do it in XSVim?

[2018-01-25 17:31] weijia-yu opened #192 "Undo button undo all the lines"
When I press command+z to undo, it will undo all my changes since last save, sometimes i cannot redo and my changes are gone. Shouldnt it just undo my last certain line change?

[2018-01-26 11:20] nosami commented on #192
It should undo every change that you made while you were in Insert mode like Vim. Is that not what it is doing? Do you have a repro?

[2018-01-26 11:22] nosami commented on #191
That isn't supported yet. I'll try and add it soon.

You can use Alt+Command+F for now.

[2018-01-26 13:22] nosami commented on #190
I believe I already fixed this issue in monodevelop itself [here](https://github.com/mono/monodevelop/commit/c0bd526054d4bc453a2f769c6d1db48a1b587490#diff-710fa148d4e36578d081214888b78fe6) but the fix probably hasn't been rolled out yet.

Please can you try opening the Error List pad before you quit and let me know if that helps?

[2018-01-26 13:31] nosami opened #193 "Make J/K work in Error list pad and Search results"
It works already in solution pad and test pad, but would be useful to have this working in other pads too, especially the error list and search results

[2018-01-26 18:36] weijia-yu commented on #192
I guess I haven't been gotten used to vim mode undo yet, thanks for explaining

[2018-01-26 18:36] #192 closed, assigned to nobody

[2018-01-26 18:38] nosami commented on #192
Great, thanks! :)

[2018-01-29 20:38] CallumHoward commented on #190
I am not sure why, but I can no longer replicate the issue. Nothing shows in the Error List pad, and when I use CMD-Q, it quits fully. Happy to close for now and I'll update if it reoccurs.

[2018-01-29 20:38] #190 closed, assigned to nobody

[2018-01-29 21:56] nosami commented on #190
Looks like 7.4.0.884 went into the Beta channel on 25th Jan. Maybe you have that? It contains my fix.

[2018-02-05 11:50] nosami commented on #169
Fixed by https://github.com/nosami/XSVim/pull/196

[2018-02-05 11:50] #169 closed, assigned to nobody

[2018-02-26 12:51] nosami opened #198 "pressing D at start of line moves caret to previous line"
![d-start](https://user-images.githubusercontent.com/667194/36671524-c3064d78-1af3-11e8-8f1d-7f860c3bd4af.gif)

[2018-02-28 23:29] mhutch commented on #156
FWIW, maybe it would be cleaner to have a keybinding set for vim instead of modifying the current one? Or maybe prompt whether the user wants to switch?

[2018-03-01 06:24] nosami commented on #156
@mhutch I'm not sure if it's possible to have a keybinding set for vim due to the many combinations of keys that can be formed to create a command.

I could make it so that the user needs to opt-in to automatic keys override though I guess.

[2018-03-01 09:08] dnlbschff commented on #156
Hey, I'm having the same issue. However, I'm on a fresh install of VS 7.3.3 without any keybindings customised. Can I support you with any information to help sort out the problem?

[2018-03-01 09:26] nosami commented on #156
@dnlbschff Do you get the same stack trace in the log? `Help -> Open Log Directory`

[2018-03-01 11:47] dnlbschff commented on #156
Pretty much. The line numbers differ slightly.
[code]

 (I really love the extension otherwise though!)

[2018-03-01 12:22] nosami commented on #156
@dnlbschff Thanks! Although I'm pretty sure that the only way to get that stack trace is if you rebind the FormatBuffer key. Maybe you did it in a previous version of VS?

For now, you can workaround it by opening the preferences dialog before you load any solution from the Welcome Page (so that this extension doesn't get chance to load) and then just delete the keybinding for `Format Document`

!

[2018-03-01 15:06] dnlbschff commented on #156
Well to be precise, I had a previous installation and removed it with the uninstall script provided by Microsoft. Now I reinstalled VS and checked again. The problem persisted, which is why I posted here.

Thanks, your hint resolved the problem. I tried that with my last install and it didn't. But I also know why now: I was using the Windows keybinding set before (because I'm more familiar with th

[2018-03-01 15:11] nosami commented on #156
Ah, I see! I'll try and come up with a solution for this soon.

[2018-03-01 19:52] mhutch commented on #156
@nosami I didn't mean implementing it _as_ keybindings, I meant have a keybinding set that doesn't conflict with the vim stuff.

[2018-03-01 19:54] nosami commented on #156
@mhutch - Yeah, I guess that could work for the few ctrl-key bindings that are conflicted.

[2018-03-01 20:36] mhutch commented on #156
And you could add new bindings for those commands :)

[2018-03-10 16:42] nosami commented on #156
Just attempted to add a [Vim keybinding set just for control-D](https://github.com/nosami/XSVim/commit/3fbd4ecaa4d07a5d46ae0a31a213068ab6e0f90d) to test out but I get conflicting shortcuts. No idea how to make this work.

![image](https://user-images.githubusercontent.com/667194/37244402-7e13e464-2480-11e8-8bc8-9618f1626b6e.png)

[2018-03-11 22:07] nosami opened #199 "zz should move the line where the caret is located to the centre of the screen"

[2018-03-12 10:00] nosami opened #200 "'p' doesn't work at last character of line for non-linewise paste/put"

[2018-03-12 13:53] nosami opened #202 "Add za, zc and zo code folding commands"
They should just map to existing monodevelop commands.

[2018-03-19 16:36] nosami commented on #156
Looks like this bug was fixed in Monodevelop itself - https://github.com/mono/monodevelop/pull/4214

Should be in 7.4 service release 1.

[2018-03-29 11:08] paulopicasso opened #203 ""s" doesn't work in visual mode"
Maybe I'm missing something and I know I can achieve pretty much the same thing using "c" but I'm quite used to replacing selected text in visual mode using "s" key.

[2018-03-31 16:32] nosami commented on #203
No, you're not missing anything. It's just never been implemented :) I always use 'c' for this.

I'll add it now.

[2018-03-31 16:33] #200 closed, assigned to nobody

[2018-03-31 16:40] #203 closed, assigned to nobody

[2018-03-31 16:41] nosami commented on #203
Fixed in 0.49.3. It will appear on the releases page soon, and in the official addin feed shortly afterwards.

[2018-03-31 17:48] paulopicasso commented on #203
Thank you very much!

[2018-03-31 19:48] nosami commented on #203
No problem - thanks for reporting it!

[2018-04-02 07:10] #198 closed, assigned to nobody

[2018-04-02 09:22] #182 closed, assigned to nobody

[2018-04-02 12:32] #199 closed, assigned to nobody

[2018-04-02 13:59] ghost opened #205 "can't install plugin version 0.49.6"
Trying to install 0.49.6 and it goes through installer and then fails at the end.  Version information is here:

=== Visual Studio Enterprise 2017 for Mac ===

Version 7.4.1 (build 48)
Installation UUID: e557e40d-f4ba-498c-bf3b-457a6d6a4e84
Runtime:
	Mono 5.8.1.0 (2017-10/6bf3922f3fd) (64-bit)
	GTK+ 2.24.23 (Raleigh theme)

	Package version: 508010000

=== NuGet ===

Version: 4.3.1.4445

=== .NET

[2018-04-02 14:37] nosami commented on #205
Have you installed a previous version successfully before? Have you tried installing the mpack file manually from the [Releases page](https://github.com/nosami/XSVim/releases)?

[2018-04-02 16:07] timorris opened #206 "version 0.49.6 installs but does not work at all"
Updated to 0.49.6, restarted VS and closed all open documents - opened a document and Vim does not work at all.

Visual Studio Professional 2017 for Mac
Version 7.4.1 (build 48)
Installation UUID: f407b119-2824-4dce-9502-e934d6c34d65
Runtime:
	Mono 5.8.1.0 (2017-10/6bf3922f3fd) (64-bit)
	GTK+ 2.24.23 (Raleigh theme)

	Package version: 508010000

[2018-04-02 16:12] timorris commented on #206
Uninstalled 0.49.6, and installed the 0.50.0 mpack - restarted VS and Vim still does not work - installs fine, but not working.  By "not working" I mean that I'm not in Vim mode.  Editing is just as if I don't have the plugin installed, like Notepad.   Also I noticed that when the Vim plugin is enabled, I cannot launch Visual Studio Preferences.   I Disable the plugin, then I can launch Visual Stu

[2018-04-02 17:06] bill-bradley commented on #206
I had the same issue, installing the mpack for .49.3 works

[2018-04-02 18:26] timorris commented on #206
Yeah I've reverted back to 0.49.3 as well

[2018-04-02 20:17] ghost commented on #205
Installing manually works.

Aaron via mobile

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jason Imison <notifications@github.com>
Sent: Monday, April 2, 2018 10:37:19 AM
To: nosami/XSVim
Cc: Aaron LaBeau; Author
Subject: Re: [nosami/XSVim] can't install plugin version 0.49.6 (#205)

Have you installed a previous version successfully before? Have you tried inst

[2018-04-02 21:28] nosami commented on #205
There shouldn't really be any difference between the 2 methods. No idea what went wrong there.

If you post your IDE logs from the time of the crash (Help -> Open Log Directory) there might be some clue as to what went wrong.

[2018-04-02 21:32] nosami commented on #206
Please can you share your logs? (Help -> Open Log Directory)

[2018-04-02 21:44] nosami opened #207 "Exception at startup"
[code]

[2018-04-02 21:58] nosami commented on #206
Never mind, I can see what the issue is when I start from app launcher

[code]

[2018-04-02 22:01] #206 closed, assigned to nobody

[2018-04-02 22:02] nosami commented on #206
Should be fixed in 0.50.1

[2018-04-02 22:31] #207 closed, assigned to nobody

[2018-04-02 22:34] nosami commented on #205
Please can you see if version 50.1 from the feed works for you?

[2018-04-03 16:01] timorris commented on #206
Thanks - sorry I didn't see your comment asking for logs - was bogged down.  And 0.5.0.1 works perfectly for me.

[2018-04-03 16:10] nosami commented on #206
Thanks for confirming!

[2018-04-03 16:41] bill-bradley commented on #206
working for me as well, thanks!

[2018-04-04 18:43] nosami commented on #205
I'm going to assume this is the same issue as #206. Please re-open if you have any more issues. Thanks!

[2018-04-04 18:43] #205 closed, assigned to nobody

[2018-04-07 08:20] chiuan opened #208 "can this work with some vim plugin ?"
can this work with some vim plugin ?

[2018-04-07 10:55] nosami commented on #208
No - I'm afraid not. That would require a VimL interpreter which is far outside the scope of this addin.

Which plugin were you wanting to use? Maybe I could emulate it.

[2018-04-07 13:17] chiuan commented on #208
i really like the vscode vim plugins. so nice and simple to help coding!!!
https://github.com/VSCodeVim/Vim

i love this the best:
https://github.com/VSCodeVim/Vim#vim-easymotion

[2018-04-07 13:31] nosami commented on #208
I'll see what I can do 🙂

On Sat, 7 Apr 2018 at 14:17, ChiuanWei <notifications@github.com> wrote:

[2018-04-08 09:11] #202 closed, assigned to nobody

[2018-04-10 07:38] nosami opened #209 "Failing tests when ran against 15-7 (7.5)"
1) Should put ab after (XSVim.Tests.Yank and put tests.Should put ab after)
     Failed with

  String lengths are both 4. Strings differ at index 0.
  Expected: "cab$"
  But was:  "ab$c"
  -----------^

2) yw at the end of a line consumes entire line (XSVim.Tests.Yank and put tests.yw at the end of a line consumes entire line)
     Failed with

  String lengths are both 7. Strings differ at index

[2018-04-10 15:05] nosami commented on #209
Fixed in monodevelop.

[2018-04-10 15:05] #209 closed, assigned to nobody

[2018-04-16 00:51] ASC95 opened #210 "Character toggled with "~" (i.e. case toggle command) does not appear to change upon toggling."
I'm on a 2014 MacBook Air running Visual Studio Community with the .NET Core.

When I toggle the case of a character with "~", the character DOES change case, but the character still displays as its original case.

For example, if I toggle the first "a" character in "consoleapplication" to be "consoleApplication", the word still displays as "consoleapplication" even though the "a" became "A". The

[2018-04-16 06:50] nosami commented on #210
![tildevs](https://user-images.githubusercontent.com/667194/38793840-bd201880-414a-11e8-9b70-7716fec3a6ce.gif)

This is what I see.

[2018-04-16 07:02] nosami commented on #210
Which version of VS Community are you using? It's possible that it's an issue that's been fixed there. Thanks.

[2018-04-18 05:09] ASC95 opened #211 "Entering insert mode causes vim to enter overtype (replacement) mode after renaming a file"
I'm running Visual Studio Community 7.4.3 on a 2014 MacBook Air.

When I first start Visual Studio, everything works fine.

However, if I rename a file and then immediately resume editing it, insert mode no longer works at all. When I enter insert mode (via "i", "I", "a", etc.) vim goes into replacement mode instead so that everything is overwritten as I type.

If I restart Visual Studio, everythi

[2018-04-18 11:50] nosami commented on #211
Can confirm - will get this fixed. Thanks for reporting!

[2018-04-18 12:01] #211 closed, assigned to nobody

[2018-04-18 12:04] nosami commented on #211
Fixed in 0.53.1

[2018-04-19 00:22] ASC95 commented on #210
Problem is resolved in newest update.

[2018-04-19 00:22] #210 closed, assigned to nobody

[2018-04-26 14:07] mweber26 opened #212 "'x' deletes past end of line"
`x.Get("active", f^alse));`

With caret between the f and a if you hit 20x it should stop at the end of the line, but it either goes on to other lines or starts deleting before the f:

`x.Ge`

[2018-04-29 00:50] nosami commented on #212
Can confirm. Will get this fixed - thanks!

[2018-04-29 06:31] nosami commented on #212
Fixed in 0.54.2

[2018-04-29 12:57] mweber26 commented on #212
I don't think this is quite right still.
`Do^Download();`
then hit 500x
And it deletes `Download()` but not the ;

[2018-04-29 13:15] mweber26 opened #214 "'A' then dot with backspace"
Go to a line then hit **A** to insert at the end of the line, then type something, but use backspace to correct yourself, then escape.

Then go to the next line and hit **dot**, this should insert the corrected text.

https://imgur.com/a/qpCkjVj

[2018-04-29 13:17] mweber26 opened #215 "'I' with dot"
Go to a line and hit **I** then insert text then hit escape.

Go to the next line halfway in and hit dot.  It the corrected text should be inserted at the front of the line.

https://imgur.com/a/hbbEV5P

[2018-04-29 18:29] nosami commented on #212
Eek - sorry about that! Let me have another look

[2018-04-29 22:43] mweber26 commented on #214
Somehow this looks like it actually inserts the backspace characters with the **dot**.  The line you do the dot on acts very strange at the end of the line with characters appearing and disappearing.

[2018-04-30 10:14] #212 closed, assigned to nobody

[2018-04-30 10:15] nosami commented on #212
Fixed in 0.54.4

Not really happy with my fix, but it works now at least

[2018-04-30 11:59] nosami commented on #212
p.s. `D` works better for this :)

[2018-04-30 12:27] mweber26 commented on #212
There's always a better command, but 25 years of vi is hard to adjust :)

[2018-05-01 04:35] #214 closed, assigned to nobody

[2018-05-01 04:36] nosami commented on #214
Fixed in 0.54.5 - thanks!

[2018-05-01 07:26] #215 closed, assigned to nobody

[2018-05-01 07:27] nosami commented on #215
Fixed in 0.54.6 - thanks!

[2018-05-01 14:34] mweber26 commented on #212
I'm not sure if you want this in the same issue, but 500x at the end of the line does not set up the copy/paste buffer like D does.

`if(_item^s == null)` **500x** **p**  === `if(_item)^`
where as
`if(_item^s == null)` **D** **p** === `if(_items == null)^`

[2018-05-01 16:23] nosami commented on #212
I don't believe I ever used x with a multiplier - I had no idea it did that. I guess that's a different issue. I'll file it.

[2018-05-01 16:24] nosami opened #217 "x with repeat doesn't set up paste buffer correctly."
500x at the end of the line does not set up the copy/paste buffer like D does.

`if(_item^s == null)` **500x** **p**  === `if(_item)^`
where as
`if(_item^s == null)` **D** **p** === `if(_items == null)^`

[2018-05-01 16:26] nosami commented on #217
Reported by @mweber26 here https://github.com/nosami/XSVim/issues/212#issuecomment-385685586

[2018-05-02 01:21] mweber26 commented on #68
You mention this is done but **ma** and **mb** then **:'a'bd** says "could not parse".  Are just marks there and they cannot be used in expressions yet? For example **:1,3d** says could not parse also.

[2018-05-02 11:22] nosami commented on #68
No ex mode (`:`) support for marks yet. Most ex mode commands don't work at the moment.

[2018-05-02 11:24] nosami commented on #68
@mweber26: Having said that, if it's something that you use frequently, then I can prioritise that.

[2018-05-02 11:32] mweber26 commented on #68
Yeah - of the commands I am used to using, ex commands seem to be missing, and I have run into #117 a few times as well.

I use **'a,'bd** and **p** to move code around fairly regularly.

[2018-05-02 11:38] nosami commented on #68
I have a [branch where I was working](https://github.com/nosami/XSVim/tree/textchanges) on #117 . I didn't quite get it working though. I'll try and get that working next.

[2018-05-05 08:07] marcinbiegun commented on #191
Would love to see this implemented.

[2018-05-07 07:08] #217 closed, assigned to nobody

[2018-05-07 10:00] nosami opened #218 "Support `g*` and `g#`"
.. to support search forwards and backwards but not for exact word match, i.e. also matches substrings

[2018-05-07 10:03] nosami opened #219 "Add '<,'> selection markers"

[2018-05-08 10:39] nosami commented on #117
OK. This is working fine as far as I can tell on the `TextChanges` branch but I've broken some tests. This should be merged soon. cc: @mweber26

![dotintellisense](https://user-images.githubusercontent.com/667194/39752806-78e3ce84-52b4-11e8-8abe-b17bbd607854.gif)

[2018-05-10 14:56] #156 closed, assigned to nobody

[2018-05-13 12:43] #117 closed, assigned to nobody

[2018-05-13 22:47] nosami commented on #68
#117 was fixed by #220

[2018-05-14 11:31] nosami commented on #68
`d'a` and `v'a` etc should work too.

[2018-05-14 16:39] nosami commented on #68
@mweber26  d'a, v'a and :'a,'bd are all now working in 0.58.0

[2018-05-14 17:06] nosami opened #221 ":1,3d should delete lines 1-3"
re #42

[2018-05-15 08:56] #221 closed, assigned to nobody

[2018-05-18 02:12] mweber26 commented on #68
Works great!  Thanks

[2018-06-04 23:13] djnsu opened #227 "'d' + 'j'and 'd' + 'k' combinations are not working like vanilla VIM key bindings."
I think 'd' + 'j' and 'd' + 'k' key combinations should work like the original VIM and delete one row under cursor and another row in direction of deleting.

[2018-06-05 00:14] nosami commented on #227
Hi @djnsu! You are right. I don't use these bindings myself but thought they worked. I'll get this fixed.

[2018-06-05 00:22] nosami commented on #227
`d2j` etc. needs to work too

[2018-06-06 13:51] #227 closed, assigned to nobody

[2018-06-06 13:51] nosami commented on #227
Fixed in 0.60.3. Thanks for reporting!

[2018-06-11 11:23] CalebMacdonaldBlack opened #228 "Cannot install: dependency conflicts"
I have a fresh install of visual studio that I installed with `brew cask install visual-studio`

<img width="886" alt="screen shot 2018-06-11 at 9 21 31 pm" src="https://user-images.githubusercontent.com/5868450/41228934-814e6290-6dbd-11e8-93cd-5a9532b0fa36.png">

[2018-06-11 11:35] nosami commented on #228
What version of Visual Studio is it (go to `Visual Studio -> About`) ?

Maybe you need to use an older version of XSVim that targets 7.4.

[2018-06-11 14:39] nosami commented on #228
`brew cask cat visual-studio` shows that it is installing VS 7.5.2.40 for me at least.

Please can you install XSVim from [here](https://github.com/nosami/XSVim/releases/download/0.60.1/XSVim.XSVim_0.60.1.mpack)

I think I messed something up while packaging here, but installing the file from the link above should work fine.

You can use this button to install from an mpack file
![image](https://u

[2018-06-11 15:07] nosami commented on #228
Fixed in 0.60.5 Thanks for reporting!

[2018-06-11 15:07] #228 closed, assigned to nobody

[2018-06-11 22:23] CalebMacdonaldBlack commented on #228
@nosami Thank you for the really quick fix! The manual install with that file works

[2018-06-13 17:18] kibiz0r opened #230 "Pressing `i` and then `Esc` at start of a line (or on an empty line) moves the cursor up to the end of the previous line"
Note that `i` then `Esc` should still move the cursor back by one character when it's not at the start of the line.

[2018-06-13 19:04] nosami commented on #230
![insert-escape](https://user-images.githubusercontent.com/667194/41372319-dda803d8-6f44-11e8-8b4b-ab0c76934ec4.gif)

It's not doing that for me. Which version of VSMac / XSVim are you using?

[2018-06-13 19:05] nosami commented on #230
Never mind - I see what you mean now. Looks like a recent bug. The cursor should move backwards when it's not at the start of the line.

I'll get it fixed

[2018-06-13 19:44] nosami commented on #230
I tried the most recent build with VS 7.6 and this is what I see. A different bug than the first gif :)

![insert-escape](https://user-images.githubusercontent.com/667194/41374100-29910b14-6f4a-11e8-8bd4-3d162194f3fa.gif)

[2018-06-13 19:57] #230 closed, assigned to nobody

[2018-06-13 19:58] nosami commented on #230
Fixed in 0.60.6 - thanks for reporting!

[2018-06-25 12:36] #191 closed, assigned to nobody

[2018-06-25 12:37] nosami commented on #191
OK. I added this to 0.61.0

It works for the common cases of replacing within a selection `:'<,'>s` and within the whole document `:%s`

There are some limitations as it relies on VSMac intrinsics currently, but it's working well enough for my use cases :)

[2018-07-08 10:20] nosami commented on #42
https://github.com/nosami/XSVim/commit/fdec866ad31ec4eb55071e7a682070a0f190a9aa adds command substitute mode `:%s/find/replace` and `:'<,'>s/find/replace`

[2018-09-18 23:54] timorris opened #231 "Visual Studio crashes"
I have the latest (0.61.0) version of vsvim and it continuously crashes Visual Studio (when I disable vsvim, VS does not crash)  I have VS version 7.6.5 (build 20)

[2018-09-28 15:48] nosami commented on #231
sorry @timorris I only just saw this message. Please can you post logs from VSMac (maybe via a gist) so that I can investigate?

`Help -> Open Log Directory`, then look for the Ide*.log files.

Thanks.

[2018-09-28 20:14] timorris commented on #231
[Ide.2018-09-22__20-10-07.log](https://github.com/nosami/XSVim/files/2429573/Ide.2018-09-22__20-10-07.log)
[Ide.2018-09-23__15-16-58.log](https://github.com/nosami/XSVim/files/2429585/Ide.2018-09-23__15-16-58.log)
[Ide.2018-09-24__11-34-10.log](https://github.com/nosami/XSVim/files/2429590/Ide.2018-09-24__11-34-10.log)
[Ide.2018-09-24__13-53-44.log](https://github.com/nosami/XSVim/files/2429595/Id

[2018-09-30 14:11] nosami commented on #231
@timorris Can you try disabling AddinMaker?

I can see this exception

[code]

[2018-10-04 03:35] warwickmm opened #232 "MonoDevelop starts in standard (not vim) mode"
I am having difficulty getting this extension (version 0.61.0) to work with MonoDevelop 7.5.0.1244.  When I start MonoDevelop, the editor is in "standard" mode, and not Vim mode.  Looking at the logs, I see a lot of the following entries:
[code]
Is it possible that there's something wrong with my setup?  I have FSharp 4.5 installed.

[2018-10-04 04:53] warwickmm commented on #232
Updating to a newer version of MonoDevelop appears to have fixed the issue.

[2018-10-04 04:53] #232 closed, assigned to nobody

[2018-10-11 07:15] nosami commented on #232
Glad you got it sorted. You could also have downloaded an older version of the addin from here https://github.com/nosami/XSVim/releases

[2018-10-12 02:45] warwickmm opened #233 "MonoDevelop hangs when XSVim is enabled and files are changed externally"
When XSVim is enabled and I change a file outside of MonoDevelop (e.g, changing branches with git), MonoDevelop hangs.  It remains unresponsive and I have to kill the process.  When XSVim is disabled, this issue does not occur.  I've tried to disable some of the other extensions without any success.

I've tested this with various versions of MonoDevelop (currently on 7.8), and versions 0.60.2, 0.6

[2018-10-12 04:47] nosami commented on #233
I've seen monodevelop hang too when switching branches but I suspected that it is a bug in monodevelop, not XSVim. I'll investigate.

The monodoc error is unrelated, you're correct.

[2018-10-21 19:18] nosami opened #234 "There is no shortcut to jump to the search results pad"
We can't use `gps` because that jumps to the solution pad. `gpf` currently jumps to F# interactive pad.

I propose that we use `gpf` to jump to search results (goto pad find) and change the F# pad shortcut to `gpn`. Can't use `gpi` as this is used to jump to the immediate pad.

[2018-10-21 19:43] nosami commented on #234
This is slightly complicated by the fact that there can be multiple search results pads

[2018-10-21 22:49] #234 closed, assigned to nobody

[2018-10-23 11:14] nosami opened #235 "Alt-Enter should run code fix in VSMac 7.7"
Instead, XSVim captures it as an Enter keypress.

![alt-enter](https://user-images.githubusercontent.com/667194/47356847-2142f780-d6bd-11e8-9406-f974a883e80e.gif)

[2018-10-23 11:19] nosami commented on #235
This was an issue with my new keyboard - oops!

[2018-10-23 11:19] #235 closed, assigned to nobody

[2018-10-25 15:34] nosami opened #236 "Certain files don't go into insert mode"
I noticed this behaviour with VSMac 7.7 when running `Go to declaration` from DebuggingService to DebuggingClient.

It appears that the extension is being initialized twice which then causes havoc with the UndoGroup.

[code]

[2018-10-26 13:24] nosami commented on #236
Fixed in monodevelop by https://github.com/mono/monodevelop/pull/6402/commits/fac7e30fa067c0792a35519fa9b25f61cfb4c15e

[2018-10-26 13:24] #236 closed, assigned to nobody

[2018-10-30 14:00] bsermons opened #237 ":q crashes VS for Mac"
VS for Mac always crashes for me when trying to close the current tab with `:q`.

Visual Studio 2017 for Mac 7.6.10 (build 27)
Build Information
Release ID: 706100027
Git revision: 94dbd4d35daaa5a2ff6a51c3fd5cbb2308bd83ea
Build date: 2018-10-18 16:34:31+00
Build branch: release-7.6
Xamarin extensions: 3a9afc960ba73e5862829e8a0cd9369bcca43d70

[code]

[2018-10-30 16:32] nosami commented on #237
Can't figure out why that would happen and I can't reproduce it either. I should be able to work around it though

[2018-10-30 16:39] nosami commented on #237
@bsermons Does `<C-w>c` crash too? How about `:q!`? They each have slightly different ways of closing the tab.

[2018-10-30 16:52] bsermons commented on #237
`<C-w>c` works fine.  `:q!` also causes a crash though.

Thanks for looking into it.

[2018-10-30 16:53] nosami commented on #237
Hmm, ok... I just pushed a build (0.63.1) that should appear here https://github.com/nosami/XSVim/releases once Travis has finished building. You can install it manually from the .mpack file.

Let me take a look at `q!` now too.

[2018-10-30 17:02] nosami commented on #231
Closing due to inactivity. Feel free to reopen if you have new information. Thanks!

[2018-10-30 17:02] #231 closed, assigned to nobody

[2018-10-30 17:23] nosami commented on #237
I just released 0.63.2 to the Releases feed https://github.com/nosami/XSVim/releases/download/0.63.2/XSVim.XSVim_0.63.2.mpack

Please let me know if this works for you. If it does, I'll post it to the public feed.

Thanks!

[2018-10-30 17:23] nosami commented on #237
Install with `Visual Studio -> Extensions -> Install from file`

[2018-10-30 18:18] bsermons commented on #237
I'm still getting the same behavior unfortunately after loading 0.63.2.
Here is new stack trace for `:q`, which looks almost identical as before:
[code]

If you could give me some hints how to load the extension after building from source then I could look at it more in a couple of days when I have more time so you don't have to run around in circles on a bug you can't reproduce.

Thanks again for

[2018-10-30 20:02] nosami commented on #237
I can repro now with the latest code :)

<img width="725" alt="image" src="https://user-images.githubusercontent.com/667194/47746739-9fd00400-dc7e-11e8-9e9d-59a41b505f36.png">

I should definitely write up some dev notes at some point though.

[2018-10-30 23:27] #237 closed, assigned to nobody

[2018-10-30 23:28] nosami commented on #237
@bsermons Please give 0.63.3 a try when once it finishes building. I removed the errors from the XSVim addin, but there are still some null references in VSMac core code that I don't seem to be able to prevent. Seems to work ok for me though.

Feel free to reopen if you are still having issues.

[2018-12-02 03:22] warwickmm commented on #232
In case others run into the same issue, the fix was to make sure that the F# language binding extension was enabled in MonoDevelop.

[2018-12-02 18:51] warwickmm commented on #233
I've noticed that sometimes if I wait long enough (a couple minutes), MonoDevelop becomes responsive again.  Unfortunately, I'm still unable to find anything in the logs to help determine if this is an XSVim issue or not (other than the problem doesn't appear when XSVim is disabled).

[2018-12-03 14:14] nosami commented on #232
Hmm, interesting. I always have F# addin installed so have never noticed. I'm not even sure what would be a valid fix for this. It doesn't seem correct to distribute FSharp.Core.dll with XSVim when the F#  language binding extension distributes this reference.

I guess I should be explicit that the F# addin is required.

[2018-12-04 01:59] warwickmm commented on #232
Thanks.  I should have checked the F# extension first.  Not sure how it got disabled for me.

[2018-12-09 22:58] bysameng commented on #178
I definitely vote Yes.

In all other of the Vim implementations I use (VsVim, MonoDevelop Vi Mode, vim itself...), I will frequently select something with my mouse, and then hit X to delete the selection and pull it into the clipboard.

In XSVim, when I select something with my mouse and then hit X, it only deletes and pulls the one character under the cursor.

[2018-12-10 08:33] nosami commented on #178
@ssameng I'll take another look at this. I almost had it working.

[2018-12-14 12:29] nosami commented on #233
Looks like the hang is happening inside the TextChanged event

[code]

[2018-12-15 19:14] #233 closed, assigned to nobody

[2018-12-15 19:23] nosami commented on #233
This was easy to replicate without switching branches by copying and pasting a very large amount of text into a buffer.

Fixed now - thanks for reporting!

[2018-12-15 21:22] warwickmm commented on #233
Thanks for the fix!

[2018-12-15 21:22] warwickmm commented on #233
Thanks for the fix!

[2018-12-19 12:22] nosami opened #241 "Desired column is not correct when tabs are used for indentation"
Here I am using j/k to move up and down. The desired column calculation should be using virtual indentation (tabs converted to spaces)

![desiredcolumn](https://user-images.githubusercontent.com/667194/50219911-944caf80-0388-11e9-84e0-e3b177396c50.gif)

[2019-03-13 20:28] Blackvz opened #245 "Disable the use of System clipboard as the vim clipboard register"
Is there a way to disable the vim clipboard? Like I don't want to copy if I press "dd" to delete a line.

[2019-03-13 21:59] nosami commented on #245
@Blackvz No, but I should be able to add this functionality if it's important to you.

[2019-03-13 22:04] Blackvz commented on #245
I would love that :)

[2019-03-13 22:12] nosami commented on #245
I guess you still want to save the value to a vim register so that you can use 'p' to put etc?

But not use the system clipboard for this?

[2019-03-14 00:00] Blackvz commented on #245
Yep, that's exactly what I want

Thanks for your effort by the way! I'm really looking forward to this

[2019-03-23 15:13] bfmyr4 opened #246 "Handle Colemak Layout in Settings"
Add option to settings to indicate that a Colemak layout is being used at the system level and to remap the key presses when not in Insert/Replace mode to the Qwerty equivalent. This allows data entry in Insert/Replace mode to be in Colemak layout, but the physical locations of key presses in Normal/Visual mode remain the same as Qwerty.

[2019-03-24 15:29] #246 closed, assigned to nobody

[2019-03-25 14:16] Hultner opened #250 "Add basic support for vim-commentary"
[Vim-commentary](https://github.com/tpope/vim-commentary) is a incredible useful and common plugin which is implemented in many other vim-emulators. It basically allows me to comment a motion e.g. `gcap` to comment a paragraph or `gcc` to comment current line. I use this a lot and find myself trying to use it by muscle-memory all the time in XSVim.

[2019-03-25 15:44] nosami commented on #250
Yeah, I can add this. Should be easy enough.

[2019-03-29 14:48] nosami opened #251 "Escape should close the intellisense window in insert mode."
Instead, it switches to Normal mode, but leaves the popup open. Reported by @bfmyr4 on gitter

Without XSVim installed, pressing escape closes the intellisense popup.

I think that if the popup is visible we should close it and stay in insert mode. When closed, it should switch to Normal mode as usual.

[2019-04-05 15:40] akamud opened #252 "Support the new C# Editor"
Since VS for Mac 2019 has the new C# Editor that uses the same core from VS 2019 with a lot of improvements, probably everyone will start using the new editor when it leaves preview, so having XSVim working with that is a must. Actually, that is exactly why I am not using the new editor ATM.

Are you working on this already? Do you have any guideline if anyone wants to start working on this?

[2019-04-05 16:20] nosami commented on #252
Hi. This is definitely on my list of stuff to do but I'm not sure where to start with it either :)

It's further complicated by having both editors in VS for Mac 2019. We probably need to support both editors until the old one is deprecated.

[2019-04-05 16:28] nosami commented on #252
Here is a transcript of a chat I had on Slack with some of the guys who worked on the new editor. Maybe it helps.

[code]

[2019-04-10 18:46] bmatzelle opened #253 ""dd" command breaks H, M, L jumps"
The jumps that were added in [this ticket](https://github.com/nosami/XSVim/issues/55) do not work.

I am running Visual Studio on macOS Mojave with Vim 0.65.0.80.

[2019-04-10 18:54] bmatzelle opened #254 "Asterisk (*) should start a new search"
The asterisk (*) support added as part of [this ticket](https://github.com/nosami/XSVim/issues/38) does not simulate Vim behavior.  Hitting the * key should start a [typical (/) search](https://www.cs.swarthmore.edu/oldhelp/vim/searching.html).  What it is doing now is just moving the cursor to the next matching word under the cursor.  So it should do the following:

* Start a new search (clearing

[2019-04-10 18:54] bmatzelle commented on #254
I am running Visual Studio on macOS Mojave with Vim 0.65.0.80.

[2019-04-11 10:40] nosami commented on #253
What happens when you press H, M, L?

[2019-04-11 10:43] nosami commented on #254
Well. I just learnt something new today :)

[2019-04-11 13:11] bmatzelle commented on #254
Great.  Let me know if I can be of further assistance.

[2019-04-11 13:16] bmatzelle commented on #253
I just updated to Visual Studio 8.0.2 this morning and now it's working.  I hadn't restarted it in a long time so I wonder if that was the problem or if the update fixed it?  Either way it's working fine now so I'm closing this ticket.  Thanks!

[2019-04-15 13:38] bmatzelle commented on #253
I re-opened this ticket because I figured out how to reproduce the issue.  It's fairly simple.

1. Run the "dd" command to delete a line
2. Try hitting H, M or L.  Nothing happens.

[2019-04-15 14:37] nosami commented on #253
Seems to be working fine here for me.

[2019-04-15 14:38] nosami commented on #253
Are there any errors logged? Look in `Help -> Open Log Directory` then look at Ide.log

[2019-04-15 14:56] bmatzelle commented on #253
Yes.  The same errors are showing up multiple times.  I've attached the entire log.

[Ide.2019-04-15__09-33-46.log](https://github.com/nosami/XSVim/files/3080721/Ide.2019-04-15__09-33-46.log)

[2019-04-15 16:43] nosami commented on #253
Thanks. Not seen this issue before, I'll look into it.

[2019-04-15 17:14] nosami commented on #253
Hmm... I just tried using the exact same versions that you are using and I can't reproduce VSMac 8.0.2.23 and XSVim 0.65.0.80. Not sure what is going wrong.

[2019-04-15 17:24] bmatzelle commented on #253
Unfortunately it's one of those bugs that shows itself only after I've been using the editor for a long time.  Once I restart VS then it goes away for a while.  Is there some sort of verbose debug mode that would give you more information?

[2019-04-16 08:49] nosami commented on #253
There is a verbose debug mode, yes. Run VSMac like this from the command line

[code]

All the logging will go to the terminal instead of the usual log file. It is _very_ verbose :)

[2019-04-17 14:11] bmatzelle commented on #253
I'll be doing some heavy developing today so I'll try to reproduce it and use that verbose logging mode.

[2019-04-17 19:52] bmatzelle commented on #253
I managed to reproduce it in debug mode.  The debug log is attached.

[XSVim_debug_jumps_issue.txt](https://github.com/nosami/XSVim/files/3091306/XSVim_debug_jumps_issue.txt)

[2019-04-18 16:24] nosami commented on #253
@bmatzelle Thanks for that. I don't see anything immediately obvious though. I'll keep trying to repro.

[2019-04-18 17:29] bmatzelle commented on #253
Great.  Thank you.

[2019-04-18 18:16] nosami commented on #253
Just saw this myself but didn't have the debugger attached at the time. Can't repro again :)

[2019-04-22 18:33] bmatzelle opened #255 "Yank/paste/clipboard should be consistent with other Vim editors"
I believe that XSVim support of yank (Y/y) and paste (P/p) should be consistent with other Vim emulation implementations.  Both [VSCodeVim](https://github.com/VSCodeVim/Vim) and [SublimeText Vim](https://www.sublimetext.com/docs/3/vintage.html) manage two clipboards:

1. The Mac system clipboard
2. A Vim-only clipboard

So the app should behave thusly:

- Copying text (cmd-C) should add text to th

[2019-04-23 08:07] nosami commented on #255
Yes, I'll add this feature. I'll probably add a toggle to keep the current behaviour as I prefer it, but I realise that not everyone does!

I think this is a duplicate of https://github.com/nosami/XSVim/issues/245

[2019-04-23 12:56] bmatzelle commented on #255
Thanks!

[2019-04-23 13:30] nosami commented on #255
I should probably add support for yanking into _any_ vim register at the same time.

[2019-04-28 21:01] #254 closed, assigned to nobody

[2019-04-28 21:01] nosami commented on #254
Fixed in 0.65.2

[2019-04-28 21:27] #251 closed, assigned to nobody

[2019-04-29 12:43] bmatzelle commented on #254
It works!  This gives me a big productivity boost.  Thanks!

[2019-05-01 16:31] nosami commented on #252
To get an Addin assembly loaded into MEF

[code]

[2019-05-08 06:04] corliss commented on #252
Hi, I just upgraded to VSMac 8.1 build 2306, where the new C# editor has been made the default.
Vim mode does not work in the new editor, so I turned off the new editor via Preferences.
But now the editor doesn't work at all - the block cursor doesn't move.
Tried uninstalling & reinstalling the Vim plugin. But could not reinstall - the Vim plugin no longer appears in the Gallery.

As this is a Pre

[2019-05-08 09:44] nosami commented on #252
@corliss I have a build ready that should work with 8.1 soon. Not the new editor though - that will take a lot longer.

[2019-05-08 10:49] nosami commented on #252
~~@corliss you can try https://github.com/nosami/XSVim/releases/download/0.65.3.81/XSVim.XSVim_0.65.3.81.mpack for VSMac 8.1. It's mostly untested though.~~ Update - latest 8.1 build is available on the feed

[2019-05-08 17:15] nosami commented on #252
`MONODEVELOP_DEV_ADDINS=$(pwd)/XSVim/bin/Debug` is the important part. It sets an environment variable that tells VSMac where to look for extra addins.

The way that I debug is to launch a 2nd instance of VSMac from one running the XSVim source code - like this (Make sure that the XSVim branch that you are on is compatible with the version of VSMac - branch 81 for VSMac 8.1 and check the paths):

[2019-05-08 17:19] nosami commented on #252
@corliss Not sure how you managed to comment from the future 🙂
![image](https://user-images.githubusercontent.com/667194/57394549-bf139500-71bd-11e9-99b8-5f51ee75fa34.png)

My reply has finished above your last comment :)

[2019-05-08 18:16] corliss commented on #252
Let's hope git doesn't have the same reordering problems as GitHub! I deleted my previous comment since it appeared after this one, too.

Thanks for the detailed response. VsVim deserves a closer look - from the above it looks like it is already platform-independent, just requiring a host implementation.

If you could please update this issue when a smoke-tested version of the 8.1 plugin is availa

[2019-06-02 21:45] bysameng commented on #178
Thanks for taking a look--wondering what the status is on this?

I look through the release notes every time XSVim is updated to check if this is fixed :P

[2019-06-03 09:06] nosami commented on #178
@ssameng I'll try and get to it soon.. I don't think it's much work. It's just that other things have priority right now such as VSMac 8.1 support... and then support for the new editor.

..... and I get precious little spare time to work on this :)

[2019-06-17 18:03] bmatzelle commented on #252
@nosami have you had the time to work on updating XSVim to work with 8.1?   is there a way to get XSVim working without installing the old version of VSMac?

[2019-06-17 18:11] nosami commented on #252
@bmatzelle There is a version of XSVim that works with 8.1 but you need to make sure that you use the old editor (the new editor is the default in 8.1)

![image](https://user-images.githubusercontent.com/667194/59626372-9de68280-9133-11e9-9fbe-035553d7042e.png)

[2019-06-17 18:12] bmatzelle commented on #252
That did it.  Thanks!

[2019-06-26 12:59] nosami opened #258 "Hard crash on FocusLost"
[code]

[2019-07-02 15:34] nosami opened #259 "Hard crash removing a marker"
[code]

[2019-07-29 16:03] nosami commented on #258
Just saw this error again while looking at a sourcelink file and then deleting the file on disk while the IDE was still running.
Probably just needs a simple check to see if the key exists and ignore if it doesn't

[2019-08-07 09:18] paolojulian opened #261 "latest release not working on mac"

[2019-08-07 09:22] nosami commented on #261
Which version of XSVim are you using? Which version of VSMac?

[2019-08-07 09:24] nosami commented on #261
Did you do this? https://github.com/nosami/XSVim#81-new-editor

[2019-08-08 23:12] andywatts commented on #261
Same here.

VSMac 8.2.2 (build 21)
XSVim 0.65.3
New editor disabled.

I tried wiping visual studio and it's ~/Library/Application Support...and reinstalled VS and XSVIM.
No luck...

Edit:  Tried install  XSVim v0.65.10.81 mpack.  no joy...

Edit2:  Well, it's working great for .cs files, but not .txt.

[2019-08-09 07:10] kwkhaw commented on #261
Same here, it doesn't work.
VSMac 8.2.2 (build 21)
XSVim 0.65.10.81.
Already disabled the checkbox as mentioned in https://github.com/nosami/XSVim#81-new-editor

Edit: Tried 2-3 times, uninstalled and reinstalled, restarted VS, doesn't work. Finally, for the last time, i restarted VS, it worked. :)

[2019-08-09 08:21] nosami commented on #261
Yeah. That's because the new editor is now used for text & xml files :(

[2019-08-09 11:31] nosami commented on #261
Maybe there is something I can fix/hack to force the old editor for now.. I'll look into it.

For now you can force the old editor manually using this context menu from the solution pad
<img width="561" alt="image" src="https://user-images.githubusercontent.com/667194/62777195-a9578980-baa4-11e9-9328-9ab02505c2c3.png">

[2019-08-16 22:06] shawnbernard commented on #261
I followed the instructions and am using the old editor, but no vim key commands work in the editor. hjkl work in the Solutions menu, but nothing works in the editor window.

[2019-08-17 23:38] nosami commented on #261
@shawnbernard which file types does it not work in? sounds like the addin is enabled but you are using the new editor

[2019-08-17 23:38] nosami commented on #261
FWIW, it works for me in 8.2, 8.3 & 8.4

[2019-08-20 07:59] altmnt commented on #261
Same issue. It shows blinking vim cursor but keys are not actually working. Solution pane navigation works using jwkl.

[2019-08-20 22:42] nosami commented on #261
@altmnt - which file types? Are you sure you have disabled the new editor for C# file types?

[2019-08-20 22:44] nosami commented on #261
I just installed everything from stable channel and then added XSVim 0.65.10.81 and everything works fine AFAICT

[code]

[2019-08-20 22:51] shawnbernard commented on #261
So, I ended up rebooting (for a separate reason) and then everything worked fine.  ¯\_(ツ)_/¯

[2019-08-21 07:25] altmnt commented on #261
Reboot did not really help for me. I am using old editor, VS 8.2.4 and XSVim 0.65.3 (from extension gallery).
Edit: Tried only on C# files

[2019-08-21 20:04] nosami commented on #261
@altmnt please try 0.65.10.81 from the [releases page](https://github.com/nosami/XSVim/releases)

[2019-08-22 07:51] altmnt commented on #261
This one works :)

[2019-08-22 16:27] paolojulian commented on #261
It already worked for me but i had to download manually the latest version. Weird

[2019-08-22 19:23] nosami commented on #261
I just published 0.65.10.81 to the 8.2.4 feed (it was already published against 8.2 and 8.2.1, but silly that it needs republishing for each version of VSMac)

Thanks for reporting!

[2019-08-22 19:23] #261 closed, assigned to nobody

[2019-09-04 21:51] one-adam-nolan opened #262 "Error in text editor extension chain"
I had to re-setup my dev machine and installed Visual Studio for Mac. After installing this extension and ensuring I am using the old Editor- the cursor seems to not react to anything and this exception is being thrown to the IDE Log when I press any key.

[code]

[2019-09-05 08:38] nosami commented on #262
Which version of VSMac and XSVim are you using?

[2019-09-05 08:40] nosami commented on #262
This error looks like a mismatch between VSMac and XSVim versions. Please use https://github.com/nosami/XSVim/releases/download/0.65.10.81/XSVim.XSVim_0.65.10.81.mpack if you are running VSMac 8.1 or later

[2019-09-05 14:03] one-adam-nolan commented on #262
Thank you!!  🙏
It was a long day of work without Vim yesterday.

[2019-09-05 14:03] #262 closed, assigned to nobody

[2019-09-18 02:01] faewin opened #263 "command "gg=G" does not format document correctly."
All text gets shifted to the left with no indentation.

![Image](https://i.imgur.com/NGgPfIB.png)

[2019-09-18 04:26] nosami commented on #263
I have to admit that I only ever tried this feature with F# code.

I'll try and get it fixed. Thanks!

[2019-09-18 05:22] #263 closed, assigned to nobody

[2019-09-18 05:28] nosami commented on #263
![formatdoc](https://user-images.githubusercontent.com/667194/65114099-74aceb00-d9dd-11e9-873f-89100972985c.gif)
Fixed in 0.65.11.81

[2019-09-18 05:42] nosami commented on #263
@faewin you can get the mpack file from here https://github.com/nosami/XSVim/releases/download/0.65.11.81/XSVim.XSVim_0.65.11.81.mpack and install it via Visual Studio -> Extensions -> Install from file

[2019-09-18 06:17] faewin commented on #263
@nosami Wow! That was fast. Thanks for the speedy fix! =)

[2019-10-07 12:46] nosami commented on #252
I am working on porting VSVim to Mac [here](https://github.com/VsVim/VsVim/pull/2733) I guess this extension won't be needed at some point in the future as the old editor is used less and less.

[2019-10-17 03:32] Tonvey opened #264 "VS for mac 8.3.4(build 8) not support XSVim"
I have updated my visual studio to 8.3.4 , then I reinstall xsvim (0.65.3) .  It dosn't work correctly  . Of course I have disabled "Open C# files in New Editor" feature , and choose the key bindings "Visual Studio + Vim" .   It appears that the Editor has load the addin and stay in Normal Mode, but It can't even  move the cursor when I pressed "HJKL"  . Every key is useless  .

[2019-10-17 12:49] nosami commented on #264
Please could you share your log file just after this happened?

Help -> Open Log Directory -> Ide.log

If you are instead interested in a Vim addin for the new editor, I have been working on porting VsVim over to Mac - https://github.com/VsVim/VsVim/pull/2733#issuecomment-538998555

[2019-10-17 12:54] nosami commented on #245
This feature won't make it into XSVim. However, it works already in the VsVim port https://github.com/VsVim/VsVim/pull/2733#issuecomment-538998555

[2019-10-17 12:54] #245 closed, assigned to nobody

[2019-10-17 12:55] nosami commented on #255
This feature won't make it into XSVim. However, it works already in the VsVim port VsVim/VsVim#2733 (comment)

[2019-10-17 12:55] #255 closed, assigned to nobody

[2019-10-17 12:57] nosami commented on #253
Closing as H, M, L works perfectly in VsVim. I had to use a terrible hack to make this work with the old editor :)

https://github.com/VsVim/VsVim/pull/2733#issuecomment-538998555

[2019-10-17 12:57] #253 closed, assigned to nobody

[2019-10-17 12:58] nosami commented on #78
Closing as VsVim supports this

https://github.com/VsVim/VsVim/pull/2733#issuecomment-538998555

[2019-10-17 12:58] #78 closed, assigned to aguywithcode

[2019-10-17 12:58] #68 closed, assigned to tdfacer

[2019-10-17 12:59] Tonvey commented on #264
[Ide.log](https://github.com/nosami/XSVim/files/3739341/Ide.log)
Thanks for help  , here is the log file . I think I will try the new editor addin .

[2019-10-17 12:59] nosami commented on #185
Closing as VsVim supports this

https://github.com/VsVim/VsVim/pull/2733#issuecomment-538998555

[2019-10-17 12:59] #185 closed, assigned to nobody

[2019-10-17 12:59] nosami commented on #42
Closing as VsVim supports this

https://github.com/VsVim/VsVim/pull/2733#issuecomment-538998555

[2019-10-17 12:59] #42 closed, assigned to nobody

[2019-10-17 13:05] nosami commented on #264
I don't plan on adding any new features to XSVim now that VsVim is working. VsVim is the future :)

I will try and keep XSVim working though for as long as I can.

Please could you try installing the addin from [here](https://github.com/nosami/XSVim/releases/download/0.65.11.81/XSVim.XSVim_0.65.11.81.mpack) if you want to try XSVim again. You are running a slightly older version.

[2019-10-17 13:13] Tonvey commented on #264
It works ,thanks .

[2019-10-17 13:13] #264 closed, assigned to nobody

[2019-10-17 13:24] nosami commented on #264
I just published 0.65.11.81 on the 8.3.4 feed. Thanks for reporting!

[2019-11-02 20:32] amamaenko commented on #252
As of today even with the old editor I couldn't get the plugin to work
- Mac OS 10.15 C
- Visual Studio for Mac (community) 8.3.5 (build 13)
- Vim plugin 0.65.3

It worked with VS 8.3.1 and 8.3.2, but no luck after upgrading to 8.3.5

[2019-11-15 02:07] iboss-ptk opened #265 "Can't do anything on vs for mac"
VS version 8.3.8 (community)
Vim version 0.65.3

I have already disable new editor and found out that when I open new file, I start in normal mode but I can't move via `hjkl` or arrows and when I press `i`, it also does not change to insert mode. Any clue? Thank you in advance :)

[2019-11-15 09:16] nosami commented on #265
Yes. Please install this version https://github.com/nosami/XSVim/releases/download/0.65.11.81/XSVim.XSVim_0.65.11.81.mpack via `Visual Studio -> Extensions -> Install from file`

[2019-11-15 09:18] nosami commented on #265
Alternatively, I have been working on making VsVim work on VSMac with the new editor. You can find instructions here https://github.com/VsVim/VsVim/pull/2733#issuecomment-538998555

[2019-11-15 09:44] nosami commented on #265
I just published 0.65.11.81 on the VSMac 8.3.8 extension feed.

Thanks for reporting!

[2019-11-15 09:44] #265 closed, assigned to nobody

[2019-11-21 09:00] donquixote1984 commented on #265
Nice. Love it. save my day

[2019-12-14 14:55] netpoetica commented on #261
I'm using version 8.4 of VS for Mac and I don't see the "use old editor" option in my settings at all (I have verified I am looking in the same place as the supplied screenshot). Is there an alternative way to tell it to use the old editor? Thanks!

[2019-12-14 16:50] nosami commented on #261
@netpoetica I think you will need to use VSVim. See my instructions here https://github.com/VsVim/VsVim/pull/2733#issuecomment-538998555

Let me know if it works for you - thanks!

[2019-12-28 01:28] organic-scholar opened #266 "Not working inside .xaml files"
This plugin is not enabled or not working in .xaml file editor

[2019-12-28 16:28] nosami commented on #266
I believe your issue is that .xaml is using the new editor.

This extension only works for the older editor. You should probably try [these instructions to get VsVim running on VSMac](https://github.com/VsVim/VsVim/pull/2733#issuecomment-538998555)

[2019-12-29 19:10] organic-scholar commented on #266
Yes, I also assumed so, going to try VsVim.

Thanks

[2019-12-29 20:11] nosami commented on #266
@organic-scholar Let me know if you have any problems. Also I forgot to mention that [you need to use VSMac 8.4 for editing xaml files](https://github.com/VsVim/VsVim/pull/2733#issuecomment-541586899)

[2020-01-02 07:08] organic-scholar commented on #266
I tried using VsVim with VSMac 8.3, it is working fine in c# files but in xaml files the behavior is buggy.
![2020-01-02 12 07 00](https://user-images.githubusercontent.com/4876549/71655445-90ec5200-2d58-11ea-9cae-517d92c8899b.gif)

[2020-01-02 10:03] nosami commented on #266
It's a known issue. You need to be using VSMac 8.4 and the 8.4 branch of
VsVim for xaml support

On Thu, 2 Jan 2020 at 07:08, nauman <notifications@github.com> wrote:

[2020-01-03 01:37] organic-scholar commented on #266
VSMac 8.4 is currently in the preview once it's there is a stable release I will give it a try.
Thanks.

[2020-01-03 01:43] nosami commented on #266
Yeah. Sorry about that but it can't be helped. Fixes went into the editor in VSMac for 8.4 to fix this issue.

[2020-01-03 01:43] #266 closed, assigned to nobody